<div class="grid">
	<div class="col-12 md:col-8 col-offset-2">
		<div class="card p-fluid">
            <!--mensaje error o confirmación-->
            <p-messages [(value)]="messageForm"></p-messages>
            <!-- fin mensaje error o confirmacion -->
            <div class="grid text-center">
                <div class="col"><h5>Configuación de perfiles de usuario</h5></div>
                
            </div>
            <p-divider align="center">
                <div class="inline-flex align-items-center">
                    <i class="pi pi-user mr-2"></i>
                    <b>{{fullnameUserSelected}}</b>
                </div>
            </p-divider>
            <div class="grid text-center">
                <div *ngFor="let perfil of perfiles" class="col-4">
                    <div class="font-bold">{{perfil.perfil}}</div>
                    <div>
                        <p-selectButton [options]="estados" 
                                            [(ngModel)]="perfil.perfil_user" 
                                            optionLabel="label" 
                                            optionValue="value"
                                            (onChange)="setPerfilUser(perfil.prefil_user,perfil.id)"></p-selectButton>
                    </div>
                </div>
                
            </div>

            <!--<form (ngSubmit)="submit()">>-->
            <!--<ng-template pTemplate="content">-->
    
            
            <!--</ng-template>-->
            <!--<ng-template pTemplate="footer">-->
                
            <!--</ng-template>-->
                
            
        <!--</form>-->

		</div>
    </div>
</div>



