<p-skeleton *ngIf="loadingMapa" width="20rem" height="4rem"></p-skeleton>

<p-organizationChart *ngIf="!loadingMapa" [value]="mapaRelaciones" selectionMode="single" [(selection)]="selectedNodes">
    <ng-template class="w-auto" let-node pTemplate="default">
        
        <div class="p-1 text-center w-auto ">
            <div class="p-2 bg-bluegray-100 border-round">{{ node.label }}</div>
            <div class="flex justify-content-between mt-2 px-2">
                <div class="mr-1">{{ node.data.num}}</div>
                <div *ngIf="node.data.ref" class="mr-1">Ref: {{ node.data.ref}}</div>
                <div><span [class]="'pi pi-'+node.data.estado" [pTooltip]="node.data.estado=='ban'?'Cancelada':node.data.estado=='lock'?'Cerrada':'Abierta'" [style]="'font-size: 1rem; color:'+node.data.estadoColor"></span></div>
            </div>
            
            <div class="flex justify-content-between mt-3 px-2">
                <div class=" mb-2 text-left"><span [class]="'pi pi-search'" [pTooltip]="'Ver '+node.label" (click)="verDocumento(node)" ></span></div>
                <div class=" mb-2 text-right">{{ node.data.fecha | date}}</div>
            </div>
            <div class="flex justify-content-between m1-1 text-right">
                <div class="mr-1">Subtotal</div>
                <div>{{ node.data.subtotal  | currency:node.data.currency:'code':'0.0' }}</div>
            </div>
            <div class="flex justify-content-between m1-1 text-right">
                <div class="mr-1">IVA</div>
                <div>{{ node.data.iva | currency:node.data.currency:'code':'0.0' }}</div>
            </div>
            <div *ngIf="node.data.retenciones<0" class="flex justify-content-between m1-1 text-right">
                <div class="mr-1">Ret.</div>
                <div>{{ node.data.retenciones | currency:node.data.currency:'code':'0.0' }}</div>
            </div>

            <div class="flex justify-content-between m1-1 text-right">
                <div class="mr-1">Total</div>
                <div>{{ node.data.total | currency:node.data.currency:'code':'0.0' }}</div>
            </div>
        </div>
    </ng-template>
</p-organizationChart>

<p-dialog [header]="tituloDocumento" 
          [(visible)]="visualizarDocumento" 
          [modal]="true"
          [breakpoints]="{'960px': '75vw', '640px': '100vw'}" 
          [style]="{width: '50vw'}" 
          [maximizable]="true"
          [draggable]="false" 
         
          [resizable]="false">

    <ng-template pTemplate="content">
        
		<div class="grid">
            
			<div class="col-12">
				<div class="card">
					<div class="p-fluid p-formgrid grid">
						<div class="field col-12 md:col-4">
							<span class="p-float-label">
								<input pInputText 
                                   
                                   id="placa" 
                                   type="text" 
                                   disabled 
                                   [value]="infoDocumento.SeriesName" />
								   <label for="placa"><h6>Serie</h6></label>
							</span>
							
						</div>
						<div class="field col-12 md:col-4">
							<span class="p-float-label">
								<input pInputText 
                                   
                                   id="placa" 
                                   type="text" 
                                   disabled 
                                   [value]="infoDocumento.DocNum" />
								   <label for="placa"><h6>Número</h6></label>
							</span>
							
						</div>
						<div class="field col-12 md:col-4">
							<span class="p-float-label">
								<input pInputText 
                                   
                                   id="placa" 
                                   type="text" 
                                   disabled 
                                   [value]="infoDocumento.Cancel=='Y'?'Cancelado':infoDocumento.DocStatus=='O'?'Abierta':'Cerrada'" />
								   <label for="placa"><h6>Estado</h6></label>
							</span>
							
						</div>

						<div class="field col-12 md:col-6">
							<span class="p-float-label">
								<input pInputText 
                                   
                                   id="placa" 
                                   type="text" 
                                   disabled 
                                   [value]="infoDocumento.CardCode" />
								   <label for="placa"><h6>Código SN</h6></label>
							</span>
							
						</div>

						<div class="field col-12 md:col-6">
							<span class="p-float-label">
								<input pInputText 
                                   
                                   id="placa" 
                                   type="text" 
                                   disabled 
                                   [value]="infoDocumento.CardName" />
								   <label for="placa"><h6>Socio de negocio</h6></label>
							</span>
							
						</div>

						<div class="field col-12 md:col-4">
							<span class="p-float-label">
								<p-calendar inputId="fechacargue" 
									[showIcon]="true" 
									[(ngModel)]="infoDocumento.DocDate" 
									disabled>
								</p-calendar>
								   <label for="placa"><h6>Fecha de contabilización</h6></label>
							</span>
							
						</div>

						<div class="field col-12 md:col-4">
							<span class="p-float-label">
								<p-calendar inputId="fechacargue" 
									[showIcon]="true" 
									[(ngModel)]="infoDocumento.DocDueDate" 
									disabled>
								</p-calendar>
								   <label for="placa"><h6>Fecha de vencimiento</h6></label>
							</span>
							
						</div>

						<div class="field col-12 md:col-4">
							<span class="p-float-label">
								<p-calendar inputId="fechacargue" 
									[showIcon]="true" 
									[(ngModel)]="infoDocumento.TaxDate" 
									disabled>
								</p-calendar>
								   <label for="placa"><h6>Fecha de documento</h6></label>
							</span>
							
						</div>

						<div class="field col-12">
							<span class="p-float-label">
								<!--<input pInputText 
                                   class="text-center w-full"
                                   id="placa" 
                                   type="text" 
                                   disabled 
                                   [value]="infoDocumento.Comments" />-->
								   <textarea rows="5" 
								   			 class="w-full" 
											 pInputTextarea 
											 [disabled]="true" 
											 [(ngModel)]="infoDocumento.Comments"></textarea>
								   <label for="placa"><h6>Comentario</h6></label>
							</span>
							
						</div>
					</div>
				</div>
				<p-divider></p-divider>
				<div class="card">
					<p-table #dt2 
					 [value]="infoDocumento.DocumentLines" 
					 dataKey="DocNum" 
					 [rows]="10" 
					 [loading]="loading" 
					 [rowHover]="true" 
					 styleClass="p-datatable-gridlines p-datatable-sm" 
					 [paginator]="true" 
					 [globalFilterFields]="['DocNum','Series','DocDate','DocDueDate','CardCode','CardName','Comments','DocTotal']" 
					 selectionMode="single" 
					 
					 responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt2, $event)" placeholder="Buscar por palabra clave" class="w-full p-inputtext-sm"/>
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						
						<th>
							<div class="flex justify-content-between align-items-center">
								Línea
								<p-columnFilter type="numeric" field="LineNum" display="menu" placeholder="Buscar por linea"></p-columnFilter>
							</div>
						</th>
						<th>
							<div class="flex justify-content-between align-items-center">
																
							</div>
						</th>

                        <th>
							<div class="flex justify-content-between align-items-center">
								Código item
								<p-columnFilter type="text" field="ItemCode" display="menu" placeholder="Buscar por código item"></p-columnFilter>
							</div>
						</th>

                        
                        <th>
							<div class="flex justify-content-between align-items-center">
								Descripción
								<p-columnFilter type="text" field="Dscription" display="menu" placeholder="Buscar por descripción"></p-columnFilter>
							</div>
						</th>
						<th>
							<div class="flex justify-content-between align-items-center">
								Cantidad 
								
							</div>
						</th>
						
						
						<th>
							<div class="flex justify-content-between align-items-center">
								Precio unitario
								
							</div>
						</th>

						<th>
							<div class="flex justify-content-between align-items-center">
								Indicador de impuesto
								
							</div>
						</th>

                        <th>
							<div class="flex justify-content-between align-items-center">
								Total
								
							</div>
						</th>

						<th>
							<div class="flex justify-content-between align-items-center">
								Localidad
								<p-columnFilter type="text" field="OcrCode" display="menu" placeholder="Buscar por localidad"></p-columnFilter>
							</div>
						</th>
						<th>
							<div class="flex justify-content-between align-items-center">
								Dependencia
								<p-columnFilter type="text" field="OcrCode2" display="menu" placeholder="Buscar por dependencia"></p-columnFilter>
							</div>
						</th>

						<th>
							<div class="flex justify-content-between align-items-center">
								Vicepresidencia
								<p-columnFilter type="text" field="OcrCode3" display="menu" placeholder="Buscar por vicepresidencia"></p-columnFilter>
							</div>
						</th>
						
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-linea>
					<tr [ngClass]="{'bg-bluegray-200': linea.LineStatus === 'C'}">
						
						<td style="min-width: 1.5rem;">
							{{ linea.LineNum }}
						</td>
						<td style="min-width: 1.5rem;" class="align-content-center">
							<div><span [class]="'pi pi-'+linea.iconLine" [pTooltip]="linea.LineStatus=='C'?'Cerrada':'Abierta'" [style]="'font-size: 1rem; color:'+linea.colorIconLine"></span></div>
						</td>
						
						<td style="min-width: 12rem;">
							{{ linea.ItemCode  }}
						</td>

                        <td style="min-width: 12rem;">
							{{ linea.Dscription  }}
						</td>
						<td style="min-width: 12rem;">
							{{ linea.Quantity }}
						</td>	
                        <td style="min-width: 12rem;">
							{{ linea.Price | currency: infoDocumento.Currency  }}
						</td>
						<td style="min-width: 12rem;">
							{{ linea.VatPrcnt/100 | percent }}
						</td>
                        <td style="min-width: 12rem;">
							{{ linea.LineTotal | currency: infoDocumento.Currency }}
						</td>

                        <td style="min-width: 12rem;">
							{{ linea.OcrCode  }}
						</td>
                       
                        <td style="min-width: 12rem;">
							{{ linea.OcrCode2  }}
						</td>

                        <td style="min-width: 12rem;">
							{{ linea.OcrCode3  }}
						</td>
					</tr>
				</ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td colspan="10" class="text-right">Subtotal: </td>
                        <td  class="text-right">{{infoDocumento.SUBTOTAL | currency: infoDocumento.Currency}}</td>
                    </tr>
                    <tr>
                        <td colspan="10" class="text-right">Impuesto: </td>
                        <td  class="text-right">{{infoDocumento.IMPUESTO | currency: infoDocumento.Currency}}</td>
                    </tr>
                    <tr *ngIf="infoDocumento.RETENCIONES<0">
                        <td colspan="10" class="text-right">Rtenciones: </td>
                        <td  class="text-right">{{infoDocumento.RETENCIONES | currency: infoDocumento.Currency}}</td>
                    </tr>
                    <tr>
                        <td colspan="10" class="text-right">Total: </td>
                        <td  class="text-right">{{infoDocumento.TOTAL | currency: infoDocumento.Currency}}</td>
                    </tr>

                </ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="11" class="text-center">No se econtraron lineas del documento.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="11" class="text-center">Cargando lineas del documento. Por favor espere</td>
					</tr>
				</ng-template>
    		</p-table>
				</div>
				
			</div>
		</div>



    </ng-template>
    <ng-template pTemplate="footer">
        <p-button   icon="pi pi-check" 
                    (onClick)="visualizarDocumento=false"                     
                    
                    label="Cerrar"
                    styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>