<p-toast></p-toast>
<p-toast key="tl"></p-toast>
<p-toast key="cdel" (onClose)="onRejectCancel()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="grid p-fluid">
                <div class="col-6">
                    <button type="button" pButton (click)="onConfirmCancel()" label="Si" class="p-button-success"></button>
                </div>
                <div class="col-6">
                    <button type="button" pButton (click)="onRejectCancel()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>
<div class="grid">
	<div class="col-12">
		<div class="card">
			
			<p-table #dt1 
					 [value]="documentList" 
					 dataKey="key" 
					 [rows]="10" 
					 [rowsPerPageOptions]="[10,25,50]"
					 [loading]="loading" 
					 [rowHover]="true" 
					 [styleClass]="'p-datatable-gridlines p-datatable-sm border-3 '+color" 
					 [paginator]="true"
					 [globalFilterFields]="['DocNum','CardName','CardCode','U_NF_STATUS','ItemCode','ItemDescription','U_NF_MOTONAVE','U_NF_LASTSHIPPPING','U_NF_DATEOFSHIPPING','RequriedDate']" 
					 selectionMode="multiple" 
					 [(selection)]="selectedItem" 
					 responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<div>
							<!--<span class="p-buttonset">-->
							<button pButton 
									pTooltip="Limpiar" tooltipPosition="bottom" placeholder="Bottom"  
									class="p-button-outlined mb-2 mr-2 p-button-sm" 
									icon="pi pi-filter-slash"
									(click)="clear(dt1)">
							</button>
							<button pButton
									*ngIf="permisosUsuarioPagina[0].create_accion && showNuevo" 
									pTooltip="Nuevo" tooltipPosition="bottom" placeholder="Bottom"  
									class="p-button-outlined mb-2 mr-2 p-button-success p-button-sm" 
									icon="pi pi-plus"
									[disabled]="!permisosUsuarioPagina[0].create_accion"
									(click)="newSolped()">
							</button>

                            <button pButton 
									*ngIf="permisosUsuarioPagina[0].update_accion && showEditar"
									[pTooltip]="permisosUsuarioPagina[0].update_accion?'Editar':'Consultar'" tooltipPosition="bottom" placeholder="Bottom"   
									class="p-button-outlined mb-2 mr-2 p-button-secondary p-button-sm" 
									[icon]="permisosUsuarioPagina[0].update_accion?'pi pi-pencil':'pi pi-search'" 
									(click)="editSolped()" 
									[disabled]="!permisosUsuarioPagina[0].update_accion || (!selectedItem || selectedItem.length!=1)">
							</button>

                            <button pButton 
									*ngIf="permisosUsuarioPagina[0].create_accion  && showEnvioSAP"
									pTooltip="Enviar a SAP" tooltipPosition="bottom" placeholder="Bottom"   
									class="p-button-outlined mb-2 mr-2 p-button-warning p-button-sm" 
									icon="pi pi-send" 
									(click)="envairSAP2()" 
									[disabled]="!permisosUsuarioPagina[0].create_accion || !selectedItem || selectedItem.length!=1">
							</button>

							<button pButton 
									*ngIf="permisosUsuarioPagina[0].delete_accion && showDeleteSolped" 
									pTooltip="Cancelar" tooltipPosition="bottom" placeholder="Bottom"   
									class="p-button-outlined mb-2 mr-2 p-button-danger p-button-sm" 
									icon="pi pi-trash" 
									(click)="cancelarSolped()" 
									[disabled]="!permisosUsuarioPagina[0].delete_accion || !selectedItem || selectedItem.length==0">
							</button>
							<button pButton 
							
							pTooltip="Exportar a excel" tooltipPosition="bottom" placeholder="Bottom"   
							class="p-button-outlined mb-2 mr-2 p-button-success p-button-sm" 
							icon="pi pi-file-excel" 
							(click)="exportExcel()">
							</button>
							<button pButton pRipple type="button" [label]="titulo" class="p-button-text p-button-secondary"></button>
							
							
						<!--</span>-->
						</div>
						

						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar por palabra clave" class="w-full p-inputtext-sm"/>
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="width: 3rem">
                            <!--<p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
                        </th>
						<th *ngIf="documento=='Entrada'">
							<div class="flex justify-content-between align-items-center">
								Motonave
                                <p-columnFilter type="text" field="U_NF_MOTONAVE" display="menu" placeholder="Buscar por motonave"></p-columnFilter>
							</div>
						</th>
						<th>
							<div class="flex justify-content-between align-items-center">
								Número {{ documento }}
								<p-columnFilter type="text" field="DocNum" display="menu" placeholder="Buscar por código solped"></p-columnFilter>
							</div>
						</th>

						<th *ngIf="documento=='Entrada'">
							<div class="flex justify-content-between align-items-center">
								Número pedido
								<p-columnFilter type="text" field="pedido" display="menu" placeholder="Buscar por código pedido"></p-columnFilter>
							</div>
						</th>
                        

						<th>
							<div class="flex justify-content-between align-items-center">
								Proveedor
								<p-columnFilter type="text" field="ProveedorDS" display="menu" placeholder="Buscar por ítem o nombre ítem"></p-columnFilter>
							</div>
						</th>

						<th>
							<div class="flex justify-content-between align-items-center">
								Ítem
								<p-columnFilter  type="text" field="Description" display="menu" placeholder="Buscar por ítem o nombre ítem"></p-columnFilter>
							</div>
						</th>

                        

						<th>
							<div class="flex justify-content-between align-items-center">
								Cantidad {{ documento }}
								<p-columnFilter type="text" field="Quantity" display="menu" placeholder="Buscar por cantidad"></p-columnFilter>
							</div>
						</th>

						<th *ngIf="documento!='Proyecciones' && documento!='Entrada'" >
							<div class="flex justify-content-between align-items-center">
								Cantidad disponible
								
							</div>
						</th>

                        <th>
							<div class="flex justify-content-between align-items-center">
								Unidad
								
							</div>
						</th>

						<th>
							<div class="flex justify-content-between align-items-center">
								¿MP importada?
								<p-columnFilter type="text" field="U_NF_PEDMP" display="menu" placeholder="Buscar por"></p-columnFilter>
							</div>
						</th>

						<th *ngIf="documento!='Proyecciones' && documento!='Entrada'">
							<div class="flex justify-content-between align-items-center">
								Fecha de Cargue (LDS)
								<p-columnFilter type="date" field="U_NF_LASTSHIPPPING" display="menu"></p-columnFilter>
							</div>
						</th>

                        <th *ngIf="documento!='Proyecciones' && documento!='Entrada'">
							<div class="flex justify-content-between align-items-center">
								Fecha est. de salida (ETS)
								<p-columnFilter type="date" field="U_NF_DATEOFSHIPPING" display="menu"></p-columnFilter>
							</div>
						</th>
                        <th>
							<div class="flex justify-content-between align-items-center">
								{{documento=='Pedido'?'Fecha est. de llegada (ETA)':'Fecha Arribo'}}
								<p-columnFilter type="date" field="RequriedDate" display="menu"></p-columnFilter>
							</div>
						</th>

						<th *ngIf="documento!='Proyecciones' && documento!='Entrada'">
							<div class="flex justify-content-between align-items-center">
								Motonave
                                <p-columnFilter type="text" field="U_NF_MOTONAVE" display="menu" placeholder="Buscar por motonave"></p-columnFilter>
							</div>
						</th>

						<th>
							<div class="flex justify-content-between align-items-center">
								Puerto salida
                                <p-columnFilter type="text" field="U_NF_PUERTOSALIDA" display="menu" placeholder="Buscar por puerto salida"></p-columnFilter>
							</div>
						</th>

                        <th *ngIf="documento!='Proyecciones'">
							<div class="flex justify-content-between align-items-center">
								Puerto llegada
                                <p-columnFilter type="text" field="DocumentLines.WarehouseCode" display="menu" placeholder="Buscar por puerto llegada"></p-columnFilter>
							</div>
						</th>

						<th *ngIf="documento!='Proyecciones' && documento!='Entrada'">
							<div class="flex justify-content-between align-items-center">
								Agente
								<p-columnFilter type="text" field="U_NF_AGENTE" display="menu" placeholder="Buscar por agente"></p-columnFilter>
							</div>
						</th>
						
                        <th *ngIf="documento!='Proyecciones' && documento!='Entrada'">
							<div class="flex justify-content-between align-items-center">
								Incoterms
								
							</div>
						</th>

                        <th>
							<div class="flex justify-content-between align-items-center">
								Presentación
                                <p-columnFilter type="text" field="U_NF_TIPOCARGA" display="menu" placeholder="Buscar por tipo de buque"></p-columnFilter>
							</div>
						</th>

                        <th>
							<div class="flex justify-content-between align-items-center">
								Comentarios
                                <p-columnFilter type="text" field="Comments" display="menu" placeholder="Buscar por comentario"></p-columnFilter>
							</div>
						</th>
                        
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-solpeditem>
					<tr>
						<td>
                            <p-tableCheckbox [value]="solpeditem"></p-tableCheckbox>
                        </td>
						<td *ngIf="documento=='Entrada'" style="min-width: 12rem;">
							{{ solpeditem.U_NF_MOTONAVE }}
						</td>
						<td style="min-width: 6rem;">
							{{ solpeditem.DocNum }}
						</td>
						<td *ngIf="documento=='Entrada'" style="min-width: 6rem;">
							{{ solpeditem.pedido }}
						</td>
						<td style="min-width: 12rem;">
							<span  [pTooltip]="solpeditem.ProveedorDS" 
								   tooltipPosition="top">
								   {{ solpeditem.ProveedorDS | tooltips : 15:solpeditem.DocNum}}
							</span>
						</td>

						
						<td style="min-width: 15rem;">
							
							<span  [pTooltip]="solpeditem.Description" 
								   tooltipPosition="top">
								   {{ solpeditem.Description | tooltips : 20:solpeditem.DocNum}}
							</span>
						</td>

						<td style="min-width: 8rem;">
							{{ solpeditem.Quantity | number }}
						</td>

						<td *ngIf="documento!='Proyecciones' && documento!='Entrada'"  style="min-width: 8rem;">
							{{ solpeditem.RemainingOpenQuantity | number }}
						</td>

                        <td style="min-width: 8rem;">
							{{ solpeditem.MeasureUnit }}
						</td>

						<td style="min-width: 6rem;">
							{{ solpeditem.U_NF_PEDMP }}
						</td>
                        
						<td *ngIf="documento!='Proyecciones' && documento!='Entrada'" style="min-width: 10rem;">
							{{ solpeditem.U_NF_LASTSHIPPPING |  date: 'dd/MM/yyyy':'+0500' }}
						</td>

                        <td *ngIf="documento!='Proyecciones' && documento!='Entrada'" style="min-width: 10rem;">
							{{ solpeditem.U_NF_DATEOFSHIPPING |  date: 'dd/MM/yyyy':'+0500' }}
						</td>
						<td style="min-width: 10rem;">
							{{ solpeditem.RequriedDate | date: 'dd/MM/yyyy':'+0500' }}
						</td>	

						<td *ngIf="documento!='Proyecciones' && documento!='Entrada'" style="min-width: 12rem;">
							{{ solpeditem.U_NF_MOTONAVE }}
						</td>

						<td *ngIf="documento!='Proyecciones' " style="min-width: 12rem;">
							{{ solpeditem.U_NF_PUERTOSALIDA  }}
						</td>
                        <td style="min-width: 12rem;">
							{{ solpeditem.WarehouseName }}
						</td>

                        <td *ngIf="documento!='Proyecciones' && documento!='Entrada'" style="min-width: 12rem;">
							{{ solpeditem.U_NF_AGENTE }}
						</td>
                        
                       

						<td *ngIf="documento!='Proyecciones' && documento!='Entrada'" style="min-width: 6rem;">
							{{ solpeditem.U_NT_Incoterms }}
						</td>
                        
                        <td style="min-width: 12rem;">
							{{ solpeditem.U_NF_TIPOCARGA  }}
						</td>
                       
                        

                        <td style="min-width: 12rem;">
							

							<span  [pTooltip]="solpeditem.Comments" 
								   tooltipPosition="top">
								   {{ solpeditem.Comments | tooltips : 20: solpeditem.DocNum}}
							</span>
						</td>
					</tr>
					
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="19" class="text-center">No se econtraron registros.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="19" class="text-center">Cargando registros. Por favor espere</td>
					</tr>
				</ng-template>
    		</p-table>
		</div>

	</div>
</div>

<p-dialog [header]="tituloFormEditPedido" 
          [(visible)]="formulario" 
          [modal]="true"
          [breakpoints]="{'960px': '75vw', '640px': '100vw'}" 
          [style]="{width: '50vw'}" 
          [maximizable]="true"
          [draggable]="false" 
          (onHide)="envioFormulario= false" 
          [resizable]="false">

    <ng-template pTemplate="content">
        
        <div class="grid">
            <div class="field col">
                <label for="u_nf_status">Estados</label>
                

				<p-dropdown [options]="estados" 
				optionLabel="name" 
				optionValue="name"
				[(ngModel)]="u_nf_status" 
				id="u_nf_status" 
				name="u_nf_status"
				
				placeholder="Seleccione una estado"
				styleClass="p-dropdown-sm w-full"
				
				[required]="true" 
				
				[ngClass]="{'ng-invalid ng-dirty' : (envioFormulario && !u_nf_status)}"></p-dropdown>
            </div>
            
        </div>
        <div class="grid">
            <div class="field col">
                <label for="u_nf_lastshippping">Fecha de Cargue (LDS)</label>
                <p-calendar [(ngModel)]="u_nf_lastshippping" 
                            [showIcon]="true" 
                            inputId="u_nf_lastshippping" 
                            [required]="true"
                            styleClass="w-full" 
                            [ngClass]="{'ng-invalid ng-dirty' : envioFormulario && !u_nf_lastshippping}">
                </p-calendar>
            </div>

            <div class="field col">
                <label for="u_nf_dateofshipping">Fecha est. de salida (ETS)</label>
                <p-calendar [(ngModel)]="u_nf_dateofshipping" 
                            [showIcon]="true" 
                            inputId="u_nf_dateofshipping" 
                            [required]="true"
                            styleClass="w-full" 
                            [ngClass]="{'ng-invalid ng-dirty' : envioFormulario && !u_nf_dateofshipping}">
                </p-calendar>
            </div>

            <div class="field col">
                <label for="RequriedDate">{{documento=='Pedido'?'Fecha est. de llegada (ETA)':'Fecha Necesidad'}}</label>
                <p-calendar [(ngModel)]="RequriedDate" 
                            [showIcon]="true" 
                            inputId="RequriedDate" 
                            [required]="true"
                            styleClass="w-full" 
                            [ngClass]="{'ng-invalid ng-dirty' : envioFormulario && !RequriedDate}">
                </p-calendar>
            </div>
            
        </div>

		<div class="grid">
			<div class="field col">
				<label htmlFor="nf_pago">Tipo pago</label>
				<input pInputText 
						[(ngModel)]="nf_pago" 
						id="nf_pago" 
						name="nf_pago"
						class="p-inputtext-sm w-full "
						styleClass="w-full " 
						type="text" required />
			</div>
			
			<div class="field col">
				<label for="nf_tipocarga">Tipo carga</label>
				<!--<input pInputText 
						[(ngModel)]="nf_tipocarga" 
						id="nf_tipocarga" 
						name="nf_tipocarga"
						class="p-inputtext-sm w-full"
						styleClass="w-full " 
						type="text" required />-->
				<p-dropdown [options]="tiposdecarga" 
						optionLabel="tipo" 
						optionValue="tipo"
						[(ngModel)]="nf_tipocarga" id="nf_tipocarga" name="nf_tipocarga" placeholder="Tipo de carga"
						[required]="true"
						styleClass="p-dropdown-sm w-full">
				</p-dropdown>
			</div>
		</div>

		<div class="grid">

			<div class="field col">
				<label for="nf_agente">Agente aduanero</label>
				<!--<input pInputText 
						[(ngModel)]="nf_agente" 
						id="nf_agente" 
						name="nf_agente"
						class="p-inputtext-sm w-full"
						styleClass="w-full " 
						type="text" required />-->
				<p-dropdown [options]="agentes" 
						optionLabel="tipo" 
						optionValue="tipo"
						[(ngModel)]="nf_agente" id="nf_agente" name="nf_agente" placeholder="Agente"
						[required]="true"
						styleClass="p-dropdown-sm w-full">
				</p-dropdown>
			</div>

			<div class="field col">
				<label for="nf_motonave">Motonave</label>
				<input pInputText 
						[(ngModel)]="nf_motonave" 
						id="nf_motonave" 
						name="nf_motonave"
						class="p-inputtext-sm w-full"
						styleClass="w-full " 
						type="text" required />
			</div>

			
			
		</div>

		<div class="grid">
			<div class="field col">
				<label htmlFor="nf_pago">Incoterms</label>
				<!--<input pInputText 
						[(ngModel)]="nf_Incoterms" 
						id="nf_pago" 
						name="nf_pago"
						class="p-inputtext-sm w-full"
						styleClass="w-full " 
						type="text" required />-->
				<p-dropdown [options]="tipo_Incoterms" 
						optionLabel="tipo" 
						optionValue="tipo"
						[(ngModel)]="nf_Incoterms" id="nf_Incoterms" name="nf_Incoterms" placeholder="Incoterms"
						[required]="true"
						styleClass="p-dropdown-sm w-full">
				</p-dropdown>
			</div>
		</div>

		<div class="grid">
			<div class="field col">
				<label htmlFor="nf_puertosalida">Puerto salida</label>
				<input pInputText 
						[(ngModel)]="nf_puertosalida" 
						id="nf_puertosalida" 
						name="nf_puertosalida"
						class="p-inputtext-sm w-full"
						styleClass="w-full " 
						type="text" required />
			</div>
		</div>
        
        <div class="grid">
            <div class="col">
                <div class="field">
                    <label htmlFor="comentarios">Comentarios</label>
                    <textarea rows="3" 
                              pInputTextarea
                              [(ngModel)]="comentarios"
                              class="w-full"
                              id="comentarios">
                    </textarea>
                    
                </div>
            </div>
        </div>

		<div class="grid">
			<div *ngIf=" loadingSave===true"class="field col">
               
                <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
            </div>
		</div>

    </ng-template>
    <ng-template pTemplate="footer">
        <p-button   icon="pi pi-check" 
                    (click)="ActualizarPedido()"                     
                    [disabled]="permisosUsuarioPagina.length==0 || !permisosUsuarioPagina[0].update_accion " 
                    label="Actualizar"
                    styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>