<p-toast></p-toast>
<div class="grid">
	<div class="col-12">
		<div class="card">
			
			<p-table #dt1 
					 [value]="solpedList" 
					 dataKey="key" 
					 [rows]="10" 
					 [loading]="loading" 
					 [rowHover]="true" 
					 [styleClass]="'p-datatable-gridlines p-datatable-sm border-3 '+color" 
					 [paginator]="true" 
					 [globalFilterFields]="['DocNum','U_NF_STATUS','ItemCode','ItemDescription','U_NF_MOTONAVE','U_NF_LASTSHIPPPING','U_NF_DATEOFSHIPPING','RequriedDate']" 
					 selectionMode="multiple" 
					 [(selection)]="selectedSolped" 
					 responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<div>
							<!--<span class="p-buttonset">-->
							<button pButton 
									pTooltip="Limpiar" tooltipPosition="bottom" placeholder="Bottom"  
									class="p-button-outlined mb-2 mr-2 p-button-sm" 
									icon="pi pi-filter-slash"
									(click)="clear(dt1)">
							</button>
							<button pButton
									*ngIf="permisosUsuarioPagina[0].create_accion && showNuevo" 
									pTooltip="Nuevo" tooltipPosition="bottom" placeholder="Bottom"  
									class="p-button-outlined mb-2 mr-2 p-button-success p-button-sm" 
									icon="pi pi-plus"
									[disabled]="!permisosUsuarioPagina[0].create_accion"
									(click)="newSolped()">
							</button>

                            <button pButton 
									*ngIf="permisosUsuarioPagina[0].update_accion && showEditar"
									[pTooltip]="permisosUsuarioPagina[0].update_accion?'Editar':'Consultar'" tooltipPosition="bottom" placeholder="Bottom"   
									class="p-button-outlined mb-2 mr-2 p-button-secondary p-button-sm" 
									[icon]="permisosUsuarioPagina[0].update_accion?'pi pi-pencil':'pi pi-search'" 
									(click)="editSolped()" 
									[disabled]="!permisosUsuarioPagina[0].read_accion || (!selectedSolped || selectedSolped.length!=1)">
							</button>

                            <button pButton 
									*ngIf="permisosUsuarioPagina[0].update_accion  && showEnvioSAP"
									pTooltip="Enviar a SAP" tooltipPosition="bottom" placeholder="Bottom"   
									class="p-button-outlined mb-2 mr-2 p-button-warning p-button-sm" 
									icon="pi pi-send" 
									(click)="envairSAP()" 
									[disabled]="!permisosUsuarioPagina[0].update_accion || !selectedSolped || selectedSolped.length!=1">
							</button>
							
						<!--</span>-->
						</div>
						
						
							
						

						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar por palabra clave" class="w-full p-inputtext-sm"/>
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="width: 3rem">
                            <!--<p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
                        </th>
						<th>
							<div class="flex justify-content-between align-items-center">
								Número Solped
								<p-columnFilter type="text" field="DocNum" display="menu" placeholder="Buscar por código solped"></p-columnFilter>
							</div>
						</th>
                        <th>
							<div class="flex justify-content-between align-items-center">
								Estado
								<p-columnFilter type="text" field="U_NF_STATUS" display="menu" placeholder="Buscar por estado"></p-columnFilter>
							</div>
						</th>
						
                        <th>
							<div class="flex justify-content-between align-items-center">
								Código Item
								<p-columnFilter type="text" field="ItemCode" display="menu" placeholder="Buscar por código item"></p-columnFilter>
							</div>
						</th>

                        <th>
							<div class="flex justify-content-between align-items-center">
								Nombre Item
								<p-columnFilter type="text" field="ItemDescription" display="menu" placeholder="Buscar por nombre item"></p-columnFilter>
							</div>
						</th>
						

                        <th>
							<div class="flex justify-content-between align-items-center">
								Fecha de Cargue (LDS)
								<p-columnFilter type="date" field="U_NF_LASTSHIPPPING" display="menu"></p-columnFilter>
							</div>
						</th>

                        <th>
							<div class="flex justify-content-between align-items-center">
								Fecha est. de salida (ETS)
								<p-columnFilter type="date" field="U_NF_DATEOFSHIPPING" display="menu"></p-columnFilter>
							</div>
						</th>
                        <th>
							<div class="flex justify-content-between align-items-center">
								Fecha est. de llegada (ETA)
								<p-columnFilter type="date" field="RequriedDate" display="menu"></p-columnFilter>
							</div>
						</th>
						<th>
							<div class="flex justify-content-between align-items-center">
								Agente
								<p-columnFilter type="text" field="U_NF_AGENTE" display="menu" placeholder="Buscar por agente"></p-columnFilter>
							</div>
						</th>
						<th>
							<div class="flex justify-content-between align-items-center">
								Pago
								<p-columnFilter type="text" field="U_NF_PAGO" display="menu" placeholder="Buscar por agente"></p-columnFilter>
							</div>
						</th>
						
						<th>
							<div class="flex justify-content-between align-items-center">
								Cantidad
								<p-columnFilter type="text" field="Quantity" display="menu" placeholder="Buscar por cantidad"></p-columnFilter>
							</div>
						</th>

                        <th>
							<div class="flex justify-content-between align-items-center">
								Cantidad - MT
								
							</div>
						</th>
                        
                        <th>
							<div class="flex justify-content-between align-items-center">
								Incoterms
								
							</div>
						</th>

                        <th>
							<div class="flex justify-content-between align-items-center">
								Tipo buque
                                <p-columnFilter type="text" field="U_NF_TIPOCARGA" display="menu" placeholder="Buscar por tipo de buque"></p-columnFilter>
							</div>
						</th>

                        <th>
							<div class="flex justify-content-between align-items-center">
								Puerto salida
                                <p-columnFilter type="text" field="U_NF_PUERTOSALIDA" display="menu" placeholder="Buscar por puerto salida"></p-columnFilter>
							</div>
						</th>

                        <th>
							<div class="flex justify-content-between align-items-center">
								Puerto llegada
                                <p-columnFilter type="text" field="DocumentLines.WarehouseCode" display="menu" placeholder="Buscar por puerto llegada"></p-columnFilter>
							</div>
						</th>

                        
                        
                        <th>
							<div class="flex justify-content-between align-items-center">
								Motonave
                                <p-columnFilter type="text" field="U_NF_MOTONAVE" display="menu" placeholder="Buscar por motonave"></p-columnFilter>
							</div>
						</th>

                        <th>
							<div class="flex justify-content-between align-items-center">
								Comentarios
                                <p-columnFilter type="text" field="Comments" display="menu" placeholder="Buscar por comentario"></p-columnFilter>
							</div>
						</th>
                     
                        
                        
                        
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-solpeditem>
					<tr >
						<td>
                            <p-tableCheckbox [value]="solpeditem"></p-tableCheckbox>
                        </td>
						<td style="min-width: 12rem;">
							{{ solpeditem.DocNum }}
						</td>
						<td style="min-width: 12rem;">
							{{ solpeditem.U_NF_STATUS }}
						</td>
                        <td style="min-width: 12rem;">
							{{ solpeditem.ItemCode }}
						</td>
						<td style="min-width: 12rem;">
							{{ solpeditem.ItemDescription }}
						</td>
						<td style="min-width: 12rem;">
							{{ solpeditem.U_NF_LASTSHIPPPING | date }}
						</td>

                        <td style="min-width: 12rem;">
							{{ solpeditem.U_NF_DATEOFSHIPPING | date }}
						</td>
						<td style="min-width: 12rem;">
							{{ solpeditem.RequriedDate | date }}
						</td>	
                        <td style="min-width: 12rem;">
							{{ solpeditem.U_NF_AGENTE }}
						</td>
                        <td style="min-width: 12rem;">
							{{ solpeditem.U_NF_PAGO }}
						</td>
                        <td style="min-width: 12rem;">
							{{ solpeditem.Quantity }}
						</td>
                        <td style="min-width: 12rem;">
							{{ solpeditem.Quantity*1000 }}
						</td>
                        
                        <td style="min-width: 12rem;">
							{{ solpeditem.Incoterms }}
						</td>
                        
                        <td style="min-width: 12rem;">
							{{ solpeditem.U_NF_TIPOCARGA  }}
						</td>
                        <td style="min-width: 12rem;">
							{{ solpeditem.U_NF_PUERTOSALIDA  }}
						</td>
                        <td style="min-width: 12rem;">
							{{ solpeditem.WarehouseCode }}
						</td>
                        <td style="min-width: 12rem;">
							{{ solpeditem.U_NF_MOTONAVE }}
						</td>

                        <td style="min-width: 12rem;">
							{{ solpeditem.Comments }}
						</td>

					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="11" class="text-center">No se econtraron solicitudes de pedido.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="11" class="text-center">Cargando solicitudes de pedido. Por favor espere</td>
					</tr>
				</ng-template>
    		</p-table>
		</div>

	</div>
</div>

<p-dialog header="Editar solped" 
          [(visible)]="formulario" 
          [modal]="true"
          [breakpoints]="{'960px': '75vw', '640px': '100vw'}" 
          [style]="{width: '50vw'}" 
          [maximizable]="true"
          [draggable]="false" 
          (onHide)="envioFormulario= false" 
          [resizable]="false">

    <ng-template pTemplate="content">
        
        <div class="grid">
            <div class="field col">
                <label for="u_nf_status">Estados</label>
                <p-dropdown [options]="estados" 
                            [(ngModel)]="u_nf_status" 
                            optionLabel="name"
                            placeholder="Seleccione una estado" 
                            [filter]="true" 
                            filterBy="name" 
                            [showClear]="true"
                            
                            styleClass="w-full" inputId="u_nf_status">

                    <ng-template pTemplate="selectedItem">
                        <div class="country-item country-item-value" *ngIf="u_nf_status">

                            <div>{{u_nf_status.name}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-estado pTemplate="item">
                        <div class="country-item">

                            <div>{{estado.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            
        </div>
        <div class="grid">
            <div class="field col">
                <label for="u_nf_lastshippping">Fecha de Cargue (LDS)</label>
                <p-calendar [(ngModel)]="u_nf_lastshippping" 
                            [showIcon]="true" 
                            inputId="u_nf_lastshippping" 
                            [required]="true"
                            styleClass="w-full" 
                            [ngClass]="{'ng-invalid ng-dirty' : envioFormulario && !u_nf_lastshippping}">
                </p-calendar>
            </div>

            <div class="field col">
                <label for="u_nf_dateofshipping">Fecha est. de salida (ETS)</label>
                <p-calendar [(ngModel)]="u_nf_dateofshipping" 
                            [showIcon]="true" 
                            inputId="u_nf_dateofshipping" 
                            [required]="true"
                            styleClass="w-full" 
                            [ngClass]="{'ng-invalid ng-dirty' : envioFormulario && !u_nf_dateofshipping}">
                </p-calendar>
            </div>

            <div class="field col">
                <label for="RequriedDate">Fecha est. de llegada (ETA)</label>
                <p-calendar [(ngModel)]="RequriedDate" 
                            [showIcon]="true" 
                            inputId="RequriedDate" 
                            [required]="true"
                            styleClass="w-full" 
                            [ngClass]="{'ng-invalid ng-dirty' : envioFormulario && !RequriedDate}">
                </p-calendar>
            </div>
            
        </div>
        <div class="grid">

            <div class="field col">
                <label for="cantidad">Cantidad (Toneladas)</label>
                <input  pInputText 
                        [(ngModel)]="cantidad" 
                        type="number" 
                        id="cantidad" 
                        placeholder="Cantidad"
                        required (change)="calcularCantidadKL()" 
                        class="w-full"
                        [ngClass]="{'ng-invalid ng-dirty' : envioFormulario && !cantidad}">
            </div>
            
            <div class="field col">
                <label for="cantidadkl">Cantidad (Kilogramos)</label>
                <input  pInputText 
                        [(ngModel)]="cantidadkl" 
                        type="number" 
                        id="cantidadkl" 
                        placeholder="Cantidad"
                        required 
                        readonly
                        class="w-full"
                        [ngClass]="{'ng-invalid ng-dirty' : envioFormulario && !cantidadkl}">

            </div>
        </div>
        <div class="grid">
            <div class="col">
                <div class="field">
                    <label htmlFor="comentarios">Comentarios</label>
                    <textarea rows="3" 
                              pInputTextarea
                              [(ngModel)]="comentarios"
                              class="w-full"
                              id="comentarios">
                    </textarea>
                    
                </div>
            </div>
        </div>



    </ng-template>
    <ng-template pTemplate="footer">
        <p-button   icon="pi pi-check" 
                    (click)="ActualizarSolped()"                     
                    [disabled]="permisosUsuarioPagina.length==0 || !permisosUsuarioPagina[0].create_accion " 
                    label="Actualizar"
                    styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>