<p-toast></p-toast>
<app-breadcrumb [urlBreadCrumb]="urlBreadCrumb"></app-breadcrumb>
<!--Cabecera entrada-->
<div class="grid">
    <div class="col-12">
        <div class="card p-fluid">
            <div class="grid">
                <div class="col">
                    <div class="field">
                        <label htmlFor="nombreusuario">Nombre Usuario</label>
                        <input pInputText 
                                [(ngModel)]="infoUsuario.fullname" 
                                id="nombreusuario" 
                                name="nombreusuario" 
                                class="p-inputtext-sm"
                                type="text"
                                required 
                                readonly/>
                    </div>
                    <div class="field">
                        <label htmlFor="codigoproveedor">Código proveedor</label>
                        <input pInputText 
                                [(ngModel)]="codigoproveedor" 
                                id="codigoproveedor" 
                                name="codigoproveedor" 
                                class="p-inputtext-sm"
                                type="text"
                                required 
                                readonly/>
                    </div>
                    <div class="field">
                        <label htmlFor="nombreproveedor">Nombre proveedor</label>
                        <input pInputText 
                                [(ngModel)]="nombreproveedor" 
                                id="nombreproveedor" 
                                name="nombreproveedor" 
                                class="p-inputtext-sm"
                                type="text"
                                required 
                                readonly/>
                    </div>
                </div>
                <div class="col">
                    <div class="flex">
                        <div class="field">
                            <label htmlFor="serie">Tipo</label>
                            <p-dropdown [options]="series" 
                                        optionLabel="name" optionValue="code"
                                        [(ngModel)]="serie" 
                                        [readonly]="lineasEntrada.length > 0 && !pedido" 
                                        id="serie"
                                        name="serie" 
                                        placeholder="Tipo"
                                        styleClass="w-full p-dropdown-sm p-inputtext-sm" 
                                        [required]="true" 
                                        (onChange)="SeleccionarSerie()"
                                        [ngClass]="{'ng-invalid ng-dirty' : (envioFormulario && !serie) || (nuevaLinea && !serie)}">
                            </p-dropdown>
                        </div>
                        <div class="field">
                            <label htmlFor="codigoSap">Codigo SAP</label>
                            <input pInputText 
                                    [(ngModel)]="codigoSap" 
                                    id="codigoSap" 
                                    name="codigoSap"
                                    class="p-inputtext-sm"
                                    styleClass="w-full " 
                                    type="text" required readonly />
                        </div>
                    </div>
                    <div class="flex">
                        <div class="field">
                            <label for="fechaContable">Fecha Contable</label>
                            <p-calendar [(ngModel)]="fechaContable" 
                                        (onSelect)="SeleccionarFechaContable()" 
                                        [showIcon]="true"
                                        inputId="fechaContable" 
                                        [required]="true"
                                        styleClass="p-calendar-sm p-inputtext-sm" 
                                        [readonlyInput]="lineasEntrada.length > 0"
                                        dateFormat="dd/mm/yy"
                                        [ngClass]="{'ng-invalid ng-dirty' : (envioFormulario && !fechaContable) || (nuevaLinea && !fechaContable)}">
                            </p-calendar>
                        </div>

                        <div class="field">
                            <label for="fechaCaducidad">Válido hasta</label>
                            <p-calendar [(ngModel)]="fechaCaducidad" 
                                        [showIcon]="true" 
                                        inputId="fechaCaducidad"
                                        [required]="true"
                                        styleClass="p-calendar-sm p-inputtext-sm"
                                        dateFormat="dd/mm/yy"
                                        [ngClass]="{'ng-invalid ng-dirty' : (envioFormulario && !fechaCaducidad) || (nuevaLinea && !fechaCaducidad)}">
                            </p-calendar>
                        </div>

                    </div>
                    <div class="flex">
                        <div class="field">
                            <label for="fechaDocumento">Fecha documento</label>
                            <p-calendar [(ngModel)]="fechaDocumento" 
                                        [showIcon]="true" 
                                        inputId="fechaDocumento"
                                        [required]="true"
                                        styleClass="p-calendar-sm p-inputtext-sm"
                                        dateFormat="dd/mm/yy"
                                        [ngClass]="{'ng-invalid ng-dirty' : (envioFormulario && !fechaDocumento) || (nuevaLinea && !fechaDocumento)}">
                            </p-calendar>
                        </div>

                        <!--<div class="field">
                            <label for="fechaNecesidad">Fecha necesaria</label>
                            <p-calendar [(ngModel)]="fechaNecesidad" 
                                        [showIcon]="true" 
                                        inputId="fechaNecesidad"
                                        styleClass="p-calendar-sm p-inputtext-sm"
                                        [required]="true"
                                        dateFormat="dd/mm/yy"
                                        [ngClass]="{'ng-invalid ng-dirty' : (envioFormulario && !fechaNecesidad) || (nuevaLinea && !fechaNecesidad)}">
                            </p-calendar>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col">
                    <div class="field">
                        <label htmlFor="comentarios">Comentarios</label>
                        <textarea rows="3" 
                                  pInputTextarea
                                  [(ngModel)]="comentarios"
                                  class="w-full"
                                  id="comments">
                        </textarea>
                        
                    </div>
                </div>

                <div class="col">
                    <div class="field">
                        <label htmlFor="comentarios">Observación de la entrada</label>
                        <textarea rows="3" 
                                  pInputTextarea
                                  [(ngModel)]="footer"
                                  class="w-full"
                                  id="comments">
                        </textarea>
                        
                    </div>
                </div>
            </div>
            <p-divider></p-divider>
            <div class="grid">
                <div class="col">
                    <div class="grid align-content-center">
                        <div *ngIf="lineasEntrada.length===0 || loadingSave===true"class="field col">
                            <!--<button pButton 
                                    label="Nueva Línea" 
                                    (click)="AdicionarLinea()"
                                    class="p-button-outlined mb-2 p-button-warning p-button-sm"
                                    [disabled]="permisosUsuarioPagina.length==0 || !permisosUsuarioPagina[0].create_accion || entradaEnviadaSAP !=='N'" 
                                    icon="pi pi-list">
                            </button>-->
                            <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
                        </div>
                       
                            <div *ngIf="lineasEntrada.length>0" class="field col">
                                <p-button label="Ver Detalle" 
                                          icon="pi pi-search" 
                                          (onClick)="MostrarDetalle()"
                                          [disabled]="permisosUsuarioPagina.length==0 || !permisosUsuarioPagina[0].read_accion"
                                          styleClass="p-button-outlined mb-2 p-button-secondary p-button-sm"
                                          [badge]="lineasEntrada.length.toString()" 
                                          badgeClass="p-badge-danger"></p-button>
    
                                         
                            </div>
                            <div *ngIf="lineasEntrada.length>0" class="field col">
                                <p-button label="Evaluar proveedor" 
                                icon="pi pi-star-fill" 
                                (onClick)="VerEvaluacionProveedor()"
                                [disabled]="permisosUsuarioPagina.length==0 || !permisosUsuarioPagina[0].create_accion"
                                styleClass="p-button-outlined mb-2 p-button-warning p-button-sm"></p-button>
                            </div>
                       
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-------------------->
<!--Footer entrada-->
<div class="grid">
    <div class="col-12">
        <div class="card p-fluid">
            <div class="grid">
                <div class="col">
                    <button pButton 
                            label="Guardar" 
                            (click)="GuardarEntrada()" 
                            [disabled]="permisosUsuarioPagina.length==0 || !permisosUsuarioPagina[0].create_accion || envioFormulario || lineasEntrada.length===0  || entradaEnviadaSAP !=='N'"  
                            class="p-button-outlined mb-2 p-button-success p-button-sm" 
                            icon="pi pi-save">
                    </button>
                </div>
                <div class="col">
                    <button pButton 
                            label="Nueva entrada" 
                            (click)="NuevaEntrada()" 
                            [disabled]="permisosUsuarioPagina.length==0 || !permisosUsuarioPagina[0].create_accion || !envioFormulario"
                            class="p-button-outlined mb-2 p-button-primary p-button-sm" 
                            icon="pi pi-list"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--fin footer entrada-->
<!---Dialog lista detalle entrada-->

<p-dialog header="Detalle de la entrada" 
          [(visible)]="listadoLineas" 
          [modal]="true" 
          [style]="{width: '50vw'}"
          [maximizable]="true" 
          [draggable]="false" 
          [resizable]="false">


    <p-table #dt1 
            [value]="lineasEntrada" 
            dataKey="linenum" 
            [rows]="10" 
            [loading]="loading" 
            [rowHover]="true"
            styleClass="p-datatable-gridlines p-datatable-sm" 
            [paginator]="true"
            [globalFilterFields]="['itemcode','dscription','linevendor','acctcodename','acctcode','ocrcode','ocrcode2','ocrcode3']"
            selectionMode="multiple" 
            [(selection)]="lineaSeleccionada" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <div>
                    <button pButton 
                            label="Limpiar" 
                            class="p-button-outlined mb-2 mr-2 p-button-sm" 
                            icon="pi pi-filter-slash"
                            (click)="clear(dt1)">
                    </button>
                    <!--<button pButton 
                            label="Nueva Línea" 
                            (click)="AdicionarLinea()"
                            [disabled]="permisosUsuarioPagina.length==0 || !permisosUsuarioPagina[0].create_accion || entradaEnviadaSAP !=='N'" 
                            class="p-button-outlined mb-2  mr-2 p-button-warning p-button-sm" 
                            icon="pi pi-list">
                    </button>-->
                    <button pButton 
                            [label]="permisosUsuarioPagina.length>0 && permisosUsuarioPagina[0].create_accion?'Editar':'Consultar'" 
                            class="p-button-outlined mb-2 mr-2 p-button-secondary p-button-sm"
                            icon="pi pi-pencil" 
                            (click)="EditarLinea()"
                            [disabled]="permisosUsuarioPagina.length==0 || !permisosUsuarioPagina[0].create_accion || !lineaSeleccionada || lineaSeleccionada.length!=1 || (entradaEnviadaSAP !=='N' )">
                    </button>
                    <button pButton 
                            label="Borrar linea" 
                            class="p-button-outlined mb-2 mr-2 p-button-danger p-button-sm"
                            icon="pi pi-trash"
                            [disabled]="permisosUsuarioPagina.length==0 || !permisosUsuarioPagina[0].create_accion || !lineaSeleccionada || lineaSeleccionada.length==0 || (entradaEnviadaSAP !=='N' )"  
                            (click)="BorrarLineas()">
                    </button>
                </div>



                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i>
                    <input pInputText 
                           type="text" 
                           #filter 
                           (input)="onGlobalFilter(dt1, $event)"
                           placeholder="Buscar por palabra clave" 
                           class="w-full p-inputtext-sm" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <!--<p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Linea detalle
                        <p-columnFilter type="text" field="LineNum" display="menu"
                            placeholder="Buscar por linea detalle"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Estado
                        <p-columnFilter type="text" field="LineStatus" display="menu"
                            placeholder="Buscar por linea detalle"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Código Item
                        <p-columnFilter type="text" field="ItemCode" display="menu"
                            placeholder="Buscar por código item"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Descripción
                        <p-columnFilter type="text" field="ItemDescription" display="menu"
                            placeholder="Buscar por descripción"></p-columnFilter>
                    </div>
                </th>


                <th>
                    <div class="flex justify-content-between align-items-center">
                        Cuenta Mayor
                        <p-columnFilter type="text" field="AccountCode" display="menu" placeholder="Buscar por cuenta">
                        </p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="flex justify-content-between align-items-center">
                        Vicepresidencia
                        <p-columnFilter type="text" field="CostingCode3" display="menu"
                            placeholder="Buscar por vicepresidencia"></p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="flex justify-content-between align-items-center">
                        Dependencia
                        <p-columnFilter type="text" field="CostingCode2" display="menu"
                            placeholder="Buscar por dependencia"></p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="flex justify-content-between align-items-center">
                        Localidad
                        <p-columnFilter type="text" field="CostingCode" display="menu" placeholder="Buscar por localidad">
                        </p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Cantidad pedido

                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Cantidad disponible

                    </div>
                </th>

                <th>
                    <div class="flex justify-content-between align-items-center">
                        Total disponible

                    </div>
                </th>

                <th>
                    <div class="flex justify-content-between align-items-center">
                        Cantidad entrada

                    </div>
                </th>
                
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Precio

                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Impuesto

                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Valor Impuesto

                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Subtotal

                    </div>
                </th>

                <th>
                    <div class="flex justify-content-between align-items-center">
                        Total 

                    </div>
                </th>

                
               


            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pedido>
            <tr>
                <td>
                    <p-tableCheckbox *ngIf="pedido.LineStatus==='bost_Open'" [value]="pedido" (onClick)="SeleccionarLinea()"></p-tableCheckbox>
                </td>
                <td style="min-width: 12rem;">
                    {{ pedido.linenum }}
                </td>
                <td style="min-width: 12rem;">
                    {{ pedido.LineStatus | estados: 'entrada' }}
                </td>
                <td style="min-width: 12rem;">
                    {{ pedido.itemcode }}
                </td>
                <td style="min-width: 12rem;">
                    {{ pedido.dscription }}
                </td>

                

                <td style="min-width: 12rem;">
                    {{ pedido.acctcode }}
                </td>
                <td style="min-width: 12rem;">
                    {{ pedido.ocrcode3}}
                </td>
                <td style="min-width: 12rem;">
                    {{ pedido.ocrcode2 }}
                </td>
                <td style="min-width: 12rem;">
                    {{ pedido.ocrcode }}
                </td>
                <td style="min-width: 12rem;">
                    {{ pedido.cantidad_pedido }}
                </td>
                <td style="min-width: 12rem;">
                    {{ (pedido.cantidad_pendiente - pedido.cantidad) }}
                </td>

                <td style="min-width: 12rem;">
                    {{ pedido.total_pendiente | currency: 'COP' }}
                </td>

                <td style="min-width: 12rem;">
                    {{ pedido.cantidad }}
                </td>
                
                <td style="min-width: 12rem;">
                    {{ pedido.precio | currency: 'COP' }}
                </td>
                <td style="min-width: 12rem;">
                    {{ pedido.tax }} {{ (pedido.linegtotal/(pedido.linetotal))-1 |percent }}
                </td>
                <td style="min-width: 12rem;">
                    {{ pedido.valortax  | currency :'COP'}}
                </td>
                <td style="min-width: 12rem;">
                    {{ pedido.linetotal | currency :'COP'}}
                </td>

                <td style="min-width: 12rem;">
                    {{ pedido.linegtotal | currency: 'COP' }}
                </td>

                

                
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td colspan="15" class="text-right">Total</td>
                <td>{{totalimpuestos | currency: 'COP'}}</td>
                <td>{{subtotal | currency: 'COP'}}</td>

                <td>{{grantotal | currency: 'COP'}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="15" class="text-center">No se econtraron lineas asociadas a la solped.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="15" class="text-center">Cargando solicitudes de pedido. Por favor espere</td>
            </tr>
        </ng-template>
    </p-table>


    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="listadoLineas=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
<!---Fin Lista detalle entrada -->
<!---Dilalog FORM detalle-->
<p-dialog [header]="editarLinea ? 'Editar línea':'Adicionar Línea'" 
          [(visible)]="formularioLinea" 
          [modal]="true"
          [breakpoints]="{'960px': '75vw', '640px': '100vw'}" 
          [style]="{width: '50vw'}" 
          [maximizable]="true"
          [draggable]="false" 
          (onHide)="envioLinea= false" 
          [resizable]="false">

    <ng-template pTemplate="content">
        <!-- Grupo codigo item, descripción y fecha necesaria -->
        <!--<div class="grid">
            <div class="field col">
                <label for="fechaRequerida">Fecha necesaria</label>
                <p-calendar [(ngModel)]="fechaRequerida" 
                            [showIcon]="true" 
                            inputId="fechaRequerida" 
                            [required]="true"
                            styleClass="w-full" 
                            [ngClass]="{'ng-invalid ng-dirty' : envioLinea && !fechaRequerida}">
                </p-calendar>
            </div>
            <div class="field col">
                <label for="proveedor">Proveedor</label>
                <p-autoComplete [(ngModel)]="proveedor" 
                                [showEmptyMessage]="true"
                                [suggestions]="proveedoresFiltrados" 
                                (completeMethod)="filtrarProveedores($event)" 
                                field="CardCode"
                                [minLength]="1" 
                                [delay]="1000" 
                                (onSelect)="SeleccionarProveedor()" 
                                panelStyleClass="text-sm sm:ml-2"
                                inputStyleClass="w-full" styleClass="w-full" inputId="proveedor2">

                    <ng-template let-proveedor pTemplate="item">
                        <div>{{proveedor.CardCode}} - {{proveedor.CardName}}</div>
                    </ng-template>

                </p-autoComplete>
            </div>
        </div>-->
        <div class="grid">
            <div class="field col">
                <label for="itemCode">Código ítem</label>
                <p-autoComplete [(ngModel)]="item" 
                                [showEmptyMessage]="true" 
                                [suggestions]="itemsFiltrados"
                                (completeMethod)="filtrarItems($event)" 
                                field="ItemCode" 
                                [minLength]="1" 
                                [delay]="1000"
                                (onSelect)="SeleccionarItemCode()" 
                                [showClear]="true" 
                                (onClear)="clearItemCode()"
                                inputStyleClass="w-full" 
                                styleClass="w-full" 
                                inputId="ItemCode" [autofocus]="true"
                                panelStyleClass="text-sm sm:ml-2" 
                                [readonly]="true"
                                [ngClass]="{'ng-invalid ng-dirty' : envioLinea && !item.ItemCode && DocType=='dDocument_Items'}">

                    <ng-template let-item pTemplate="item">
                        <div>{{item.ItemCode}} - {{item.ItemName}}</div>
                    </ng-template>

                </p-autoComplete>
            </div>
            <div class="field col">
                <label for="descripcion">Descripción</label>
                <input  pInputText 
                        [(ngModel)]="descripcion" 
                        id="descripcion" 
                        name="descripcion" 
                        type="text"
                        required 
                        disabled
                        [readonly]="true" class="w-full"
                        [ngClass]="{'ng-invalid ng-dirty' : envioLinea && !descripcion}" />
            </div>

        </div>
        
        <!-- Grupo dependencias -->
        <div class="grid">
            <div class="field col">
                <label for="viceprecidencia">Vicepresidencia</label>
                <p-dropdown [options]="vicepresidencias" 
                            [(ngModel)]="viceprecidencia"
                            optionLabel="vicepresidency" 
                            [filter]="true" 
                            filterBy="vicepresidency" 
                            [showClear]="true"
                            placeholder="Seleccione una vicepresidencia" 
                            styleClass="w-full"
                            [disabled]="true"
                            inputId="viceprecidencia"
                            [ngClass]="{'ng-invalid ng-dirty' :  envioLinea && !viceprecidencia.vicepresidency}"
                            (onChange)="SeleccionarVicepresidencia()" #ocrcode3>

                    <ng-template pTemplate="selectedItem">
                        <div class="country-item country-item-value" *ngIf="viceprecidencia">

                            <div>{{viceprecidencia.vicepresidency}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-viceprecidencia pTemplate="item">
                        <div class="country-item">

                            <div>{{viceprecidencia.vicepresidency}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="field col">
                <label for="dependencia">Dependencia</label>
                <p-dropdown [options]="dependencias" 
                            [(ngModel)]="dependencia" 
                            optionLabel="dependence"
                            placeholder="Seleccione una dependencia" 
                            [filter]="true" 
                            filterBy="dependence" 
                            [showClear]="true"
                            [disabled]="true"
                            styleClass="w-full" 
                            [ngClass]="{'ng-invalid ng-dirty' :  envioLinea && !dependencia.dependence}"
                            inputId="dependencia" 
                            (onChange)="SeleccionarDependencia()" #ocrcode2>

                    <ng-template pTemplate="selectedItem">
                        <div class="country-item country-item-value" *ngIf="dependencia">

                            <div>{{dependencia.dependence}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-dependencia pTemplate="item">
                        <div class="country-item">

                            <div>{{dependencia.dependence}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="field col">
                <label for="localidad">Localidad</label>
                <p-dropdown [options]="localidades" 
                            [(ngModel)]="localidad" 
                            optionLabel="location"
                            placeholder="Seleccione una localidad" 
                            [filter]="true" 
                            filterBy="location" 
                            [showClear]="true"
                            [disabled]="true"
                            (onChange)="SeleccionarLocalidad()" 
                            styleClass="w-full"
                            [ngClass]="{'ng-invalid ng-dirty' :  envioLinea && !localidad.location}" 
                            inputId="localidad"
                            #ocrcode>

                    <ng-template pTemplate="selectedItem">
                        <div class="country-item country-item-value" *ngIf="localidad">

                            <div>{{localidad.location}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-localidad pTemplate="item">
                        <div class="country-item">

                            <div>{{localidad.location}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <!--Almacen-->
        <div class="grid">
            <div class="field col">
                <label for="almacen">Almacen</label>
                <p-dropdown [options]="almacenes" 
                            [(ngModel)]="almacen" 
                            optionLabel="store"
                            placeholder="Seleccione una almacen" 
                            [filter]="true" 
                            filterBy="store" 
                            [showClear]="true"
                            (onChange)="SeleccionarAlmacen()"
                            styleClass="w-full" inputId="almacen">

                    <ng-template pTemplate="selectedItem">
                        <div class="country-item country-item-value" *ngIf="almacen">

                            <div>{{almacen.store}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-almacen pTemplate="item">
                        <div class="country-item">

                            <div>{{almacen.store}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <!-- Grupo cuenta mayor -->
        <div class="grid">

            <div class="field col">
                <label for="cuenta">Cuenta Mayor</label>
                <p-autoComplete [(ngModel)]="cuenta" 
                                [showEmptyMessage]="true"
                                [suggestions]="cuentasFiltradas" 
                                (completeMethod)="filtrarCuentas($event)" 
                                field="Code"
                                [minLength]="1" 
                                [delay]="1000" 
                                (onSelect)="SeleccionarCuenta()" 
                                inputStyleClass="w-full"
                                styleClass="w-full" 
                                inputId="cuenta" 
                                panelStyleClass="text-sm sm:ml-2"
                                [disabled]="true"
                                [ngClass]="{'ng-invalid ng-dirty' : !item.ItemCode && envioLinea && cuenta.Code==''}">

                    <ng-template let-cuenta pTemplate="item">
                        <div>{{cuenta.Code}} - {{cuenta.Name}}</div>
                    </ng-template>

                </p-autoComplete>
            </div>
            <div class="field col">
                <label for="nombreCuenta">Nombre cuenta</label>
                <input type="text" 
                        pInputText 
                        [(ngModel)]="nombreCuenta" 
                        id="nombreCuenta" 
                        disabled
                        class="w-full"
                        [ngClass]="{'ng-invalid ng-dirty' : !item.ItemCode && envioLinea && nombreCuenta==''}">

            </div>
        </div>
        
        <!-- Grupo cantidad , precio y subtotal linea -->
        <div class="grid">

            <div class="field col">
                <label for="cantidad_entrada">Cantidad pendiente</label>
                <input  pInputText 
                        [(ngModel)]="cantidad_pendiente" 
                        type="number" 
                        id="cantidad_entrada" 
                        placeholder="Cantidad"
                        required 
                        class="w-full"
                        disabled
                        [ngClass]="{'ng-invalid ng-dirty' : envioLinea && !cantidad_pendiente}">
            </div>
            <div class="field col">
                <label for="cantidad">Cantidad a recibir</label>
                <input  pInputText 
                        [(ngModel)]="cantidad" 
                        type="number" 
                        id="cantidad" 
                        placeholder="Cantidad"
                        [disabled]="clase=='S'"
                        required (change)="validarCantidad()" 
                        class="w-full"
                        [ngClass]="{'ng-invalid ng-dirty' : envioLinea && !cantidad}">
            </div>
            <div class="field col">
                <label for="precio">Precio</label>
                <div class="flex">

                    <p-dropdown [options]="monedas" 
                                optionLabel="Currency" 
                                optionValue="Currency"
                                [(ngModel)]="moneda" 
                                id="moneda" 
                                name="moneda" 
                                [required]="true"
                                [disabled]="true"
                                [readonly]="lineasEntrada.length>0"
                                (onChange)="SeleccionarMoneda()">
                    </p-dropdown>
                    <p-inputNumber  [(ngModel)]="precio" 
                                    inputId="precio" 
                                    mode="currency" 
                                    currency="COP"
                                    locale="es-CO" 
                                    [disabled]="DocType=='dDocument_Items'"
                                    placeholder="Precio" 
                                    (ngModelChange)="calcularSubtotalLinea()"
                                    [ngStyle]="{width: '100%' }" styleClass="w-full"
                                    [ngClass]="{'ng-invalid ng-dirty' : (envioLinea && !precio) || (envioLinea && precio > this.lineaEntrada.total_pendiente)}">
                    </p-inputNumber>
                </div>

            </div>
            <div class="field col">
                <label for="subtotalLinea">Subtotal linea</label>
                <p-inputNumber  [(ngModel)]="subtotalLinea" 
                                inputId="subtotalLinea" 
                                mode="currency" 
                                currency="COP"
                                locale="es-CO" placeholder="" 
                                [ngStyle]="{width: '100%' }" 
                                styleClass="w-full" 
                                [readonly]="true"
                                [ngClass]="{'ng-invalid ng-dirty' : envioLinea && !subtotalLinea}">
                </p-inputNumber>

            </div>
        </div>

        <div class="grid">

            <div class="field col">
                <label for="impuesto">Impuesto</label>
                <div class="flex">
                    <p-dropdown [options]="impuestos" 
                                [(ngModel)]="impuesto" 
                                optionLabel="Code"
                                placeholder="Seleccione un impuesto" 
                                [filter]="true" 
                                filterBy="Code" [showClear]="true"
                                class="w-full" styleClass="w-full"
                                [ngClass]="{'ng-invalid ng-dirty' : envioLinea && !impuesto}" 
                                inputId="impuesto"
                                [disabled]="true"
                                (onChange)="SeleccionarImpuesto()">

                        <ng-template pTemplate="selectedItem">
                            <div class="country-item country-item-value" *ngIf="impuesto">

                                <div>{{impuesto.Code}}</div>
                            </div>
                        </ng-template>
                        <ng-template let-impuesto pTemplate="item">
                            <div class="country-item">

                                <div>{{impuesto.Code}} - {{impuesto.Name}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <p-inputNumber  [(ngModel)]="prcImpuesto" 
                                    suffix="%" 
                                    [readonly]="true" 
                                    inputStyleClass="text-center w-6"
                                    styleClass="text-center" 
                                    [disabled]="true"
                                    [ngClass]="{'ng-invalid ng-dirty' : envioLinea && !impuesto}">
                    </p-inputNumber>

                </div>

            </div>

            <div class="field col">
                <label for="valorImpuesto">Valor impuesto</label>
                <p-inputNumber  [(ngModel)]="valorImpuesto" 
                                inputId="valorImpuesto" 
                                mode="currency" 
                                currency="COP"
                                locale="es-CO" 
                                placeholder="" 
                                class="w-full" 
                                [ngStyle]="{width: '100%' }" 
                                styleClass="w-full"
                                [readonly]="true" [disabled]="true">
                </p-inputNumber>

            </div>

            <div class="field col">
                <label for="totalLinea">Total linea</label>
                <p-inputNumber  [(ngModel)]="totalLinea" 
                                inputId="totalLinea" 
                                mode="currency" 
                                currency="COP"
                                locale="es-CO" 
                                placeholder="" 
                                [disabled]="true" 
                                class="w-full" 
                                styleClass="w-full" 
                                [readonly]="true"
                                [ngClass]="{'ng-invalid ng-dirty' : envioLinea && !totalLinea }">
                </p-inputNumber>

            </div>

        </div>



    </ng-template>
    <ng-template pTemplate="footer">
        <p-button   icon="pi pi-check" 
                    (click)="RegistrarLinea()"                     
                    [disabled]="permisosUsuarioPagina.length==0 || !permisosUsuarioPagina[0].create_accion " 
                    label="Ok"
                    styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>
<!---Fin dialog Form detalle -->

<!---Dilalog FORM Form evaluacion proveedor-->
<p-dialog header="Evaluación de proveedor" 
          [(visible)]="formularioEvaluacionProveedor" 
          [modal]="true"
          [breakpoints]="{'960px': '75vw', '640px': '100vw'}" 
          [style]="{width: '50vw'}" 
          [maximizable]="true"
          [draggable]="false" 
          (onHide)="envioLinea= false" 
          [resizable]="false">

    <ng-template pTemplate="content">

        <div class="grid">
            <div class="field col">
                <div class="field col">
                    <div class="flex justify-content-between"><label for="U_NF_TIPO_HE">Tipo de evaluación</label><i class="pi pi-info-circle mr-2" pTooltip="Define los parametros y valores de la evaluación"></i></div>
                    
                    <p-dropdown [options]="tiposEvaluacion" 
						optionLabel="label" 
						optionValue="label"
						[(ngModel)]="U_NF_TIPO_HE" id="U_NF_TIPO_HE" name="U_NF_TIPO_HE" placeholder="Seleccione una opción"
						[required]="true"
						styleClass="p-dropdown-sm w-full"
                        (onChange)="seleccionarTipoEvaluacion()">
				    </p-dropdown>
                    
                </div>
                <div class="field col">
                    <div class="flex justify-content-between"><label for="U_NF_BIEN_OPORTUNIDAD">Oportunidad</label><i class="pi pi-info-circle mr-2" pTooltip="Cumplió al menos en un 70% Con la fecha de entrega del bien VS la fecha acordada en Orden de Compra"></i></div>
                    <p-dropdown [options]="oportunidad" 
						optionLabel="label" 
						optionValue="label"
						[(ngModel)]="U_NF_BIEN_OPORTUNIDAD" id="U_NF_BIEN_OPORTUNIDAD" name="U_NF_BIEN_OPORTUNIDAD" placeholder="Seleccione Si o No"
						[required]="true"
						styleClass="p-dropdown-sm w-full"
                        [disabled]="U_NF_TIPO_HE==''|| U_NF_TIPO_HE=='Servicio'"
                        (onChange)="calcularEvaluacion()">
				    </p-dropdown>
                </div>
                <div class="field col">
                    <div class="flex justify-content-between"><label for="U_NF_SERVICIO_CALIDAD">Calidad {{U_NF_SERVICIO_CALIDAD}}%</label><i class="pi pi-info-circle mr-2" pTooltip="Nivel de cumplimiento de las especificaciones técnicas ofertadas"></i></div>
                    <p-slider id="U_NF_SERVICIO_CALIDAD" 
                              name="U_NF_SERVICIO_CALIDAD" 
                              [(ngModel)]="U_NF_SERVICIO_CALIDAD" 
                              [min]="0" 
                              [max]="100"
                              [disabled]="U_NF_TIPO_HE==''"
                              (onChange)="calcularEvaluacion()"></p-slider>
                </div>
                <div class="field col">
                    <div class="flex justify-content-between"><label for="U_NF_SERVICIO_TIEMPO">Tiempo</label><i class="pi pi-info-circle mr-2" pTooltip="Cumplió con el tiempo de la prestación del servicio VS el tiempo acodado en contrato"></i></div>
                    <p-dropdown [options]="tiempo" 
						optionLabel="label" 
						optionValue="label"
						[(ngModel)]="U_NF_SERVICIO_TIEMPO" id="U_NF_SERVICIO_TIEMPO" name="U_NF_SERVICIO_TIEMPO" placeholder="Seleccione Si o No"
						[required]="true"
						styleClass="p-dropdown-sm w-full"
                        [disabled]="U_NF_TIPO_HE==''|| U_NF_TIPO_HE=='Bienes'"
                        (onChange)="calcularEvaluacion()">
				    </p-dropdown>
                </div>
                <div class="field col">
                    <div class="flex justify-content-between"><label for="U_NF_SERVICIO_SEGURIDAD">Seguridad {{U_NF_SERVICIO_SEGURIDAD}}%</label><i class="pi pi-info-circle mr-2" pTooltip="Cumplió al 100% con los estandares  de seguridad minimos exigibles según la naturaleza del servicio prestado, tales como  Hiegiene, EPPS, Certificaciones se sgeuridad."></i></div>
                    
                        <p-dropdown [options]="seguridad" 
                                optionLabel="label" 
                                optionValue="label"
                                [(ngModel)]="U_NF_SERVICIO_SEGURIDAD" id="U_NF_SERVICIO_SEGURIDAD" name="U_NF_SERVICIO_SEGURIDAD" placeholder="Seleccione Si o No"
                                [required]="true"
                                styleClass="p-dropdown-sm w-full"
                                [disabled]="U_NF_TIPO_HE==''|| U_NF_TIPO_HE=='Bienes'"
                                (onChange)="calcularEvaluacion()">
                            </p-dropdown>
                </div>

                <div class="field col">
                    <div class="flex justify-content-between"><label for="U_NF_SERVICIO_AMBIENTE">Ambiente {{U_NF_SERVICIO_AMBIENTE}}%</label><i class="pi pi-info-circle mr-2" pTooltip="Cumplió al 100% con la normatividad legal ambientas exigibles según la naturaleza del servicio prestado, tales como manejo de residuos e impacto ambiental."></i></div>
                    <p-dropdown [options]="ambiente" 
                    optionLabel="label" 
                    optionValue="label"
                    [(ngModel)]="U_NF_SERVICIO_AMBIENTE" id="U_NF_SERVICIO_AMBIENTE" name="U_NF_SERVICIO_AMBIENTE" placeholder="Seleccione Si o No"
                    [required]="true"
                    styleClass="p-dropdown-sm w-full"
                    [disabled]="U_NF_TIPO_HE==''|| U_NF_TIPO_HE=='Bienes'"
                    (onChange)="calcularEvaluacion()">
                </p-dropdown>
                </div>
            </div>
            <div class="field col">
                <div class="field col">
                    
                    <div class="grid flex justify-content-center  text-8xl pt-8">
                        {{U_NF_PUNTAJE_HE | number }} %
                    </div>
                    <div [class]="'grid flex justify-content-center  text-8xl pt-8 '+color_calificacion">
                        {{ U_NF_CALIFICACION }}
                    </div>
                </div>
            </div>
        </div>
        
       



    </ng-template>
    <ng-template pTemplate="footer">
        <p-button   icon="pi pi-check" 
                    (click)="formularioEvaluacionProveedor=false"                     
                    [disabled]="permisosUsuarioPagina.length==0 || !permisosUsuarioPagina[0].create_accion " 
                    label="Ok"
                    styleClass="p-button-text">
        </p-button>
    </ng-template>
</p-dialog>
<!---Fin dialog Form evaluacion proveedor -->

<p-toast key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="grid p-fluid">
                <div class="col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>