<app-breadcrumb [urlBreadCrumb]="urlBreadCrumb"></app-breadcrumb>
<app-table-solped-mp [solpedList]="solpedRequest" color="border-bluegray-500" [showNuevo]="true" [showEditar]="true" [showEnvioSAP]="true"></app-table-solped-mp>
<app-table-solped-mp [solpedList]="solpedOrdered" color="border-cyan-500" [showNuevo]="false" [showEditar]="true" [showEnvioSAP]="false"></app-table-solped-mp>
<app-table-solped-mp [solpedList]="solpedShipped" color="border-pink-500" [showNuevo]="false" [showEditar]="true" [showEnvioSAP]="false"></app-table-solped-mp>
<app-table-solped-mp [solpedList]="solpedDischarge" color="border-orange-500" [showNuevo]="false" [showEditar]="true" [showEnvioSAP]="false"></app-table-solped-mp>


