<app-breadcrumb [urlBreadCrumb]="urlBreadCrumb"></app-breadcrumb>
<div class="grid">
	<div class="col-12">
		<div class="card">
			
			<p-table #dt1 
					 [value]="entradas" 
					 dataKey="id" 
					 [rows]="10" 
					 [loading]="loading" 
					 [rowHover]="true" 
					 styleClass="p-datatable-gridlines p-datatable-sm" 
					 [paginator]="true" 
					 [globalFilterFields]="['serie','status','sapdocnum','pedidonumsap','codigoproveedor','nombreproveedor','docdate','docduadate','fullname']" 
					 selectionMode="multiple" 
					 [(selection)]="entradaSeleccionada" 
					 responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<div>
							<!--<span class="p-buttonset">-->
							<button pButton 
									pTooltip="Limpiar" tooltipPosition="bottom" placeholder="Bottom"  
									class="p-button-outlined mb-2 mr-2 p-button-sm" 
									icon="pi pi-filter-slash"
									(click)="clear(dt1)">
							</button>
							<button pButton
									*ngIf="permisosUsuarioPagina.length>0 && permisosUsuarioPagina[0].create_accion" 
									pTooltip="Nueva entrada" tooltipPosition="bottom" placeholder="Bottom"  
									class="p-button-outlined mb-2 mr-2 p-button-success p-button-sm" 
									icon="pi pi-plus"
									[disabled]="permisosUsuarioPagina.length===0 || !permisosUsuarioPagina[0].create_accion"
									(click)="nuevaEntrada()">
							</button>
							<button pButton 
									*ngIf="permisosUsuarioPagina.length>0  && permisosUsuarioPagina[0].read_accion"
									[pTooltip]="'Consultar'" tooltipPosition="bottom" placeholder="Bottom"   
									class="p-button-outlined mb-2 mr-2 p-button-secondary p-button-sm" 
									[icon]="'pi pi-search'" 
									(click)="VerEntrada()" 
									[disabled]="!permisosUsuarioPagina[0].read_accion || (!entradaSeleccionada || entradaSeleccionada.length!=1)">
							</button>
							<!--<button pButton 
									*ngIf="permisosUsuarioPagina[0].update_accion"
									pTooltip="Enviar a aprobación" tooltipPosition="bottom" placeholder="Bottom"   
									class="p-button-outlined mb-2 mr-2 p-button-warning p-button-sm" 
									icon="pi pi-send" 
									(click)="solicitudAprobacion()" 
									[disabled]="!permisosUsuarioPagina[0].update_accion || !selectedSolped || selectedSolped.length==0">
							</button>
							<button pButton 
									*ngIf="permisosUsuarioPagina[0].update_accion" 
									pTooltip="Cancelar" tooltipPosition="bottom" placeholder="Bottom"   
									class="p-button-outlined mb-2 mr-2 p-button-danger p-button-sm" 
									icon="pi pi-trash" 
									(click)="cancelarSolped()" 
									[disabled]="!permisosUsuarioPagina[0].update_accion || !selectedSolped || selectedSolped.length==0">
							</button>
							<button pButton
									*ngIf="permisosUsuarioPagina[0].aproved_accion" 
									pTooltip="Aprobar" tooltipPosition="bottom" placeholder="Bottom" 
									class="p-button-outlined mb-2 mr-2 p-button-help p-button-sm" 
									icon="pi pi-check-circle" 
									(click)="aprobar()" 
									[disabled]="!permisosUsuarioPagina[0].aproved_accion || !selectedSolped || selectedSolped.length==0">
							</button>
							<button pButton 
									*ngIf="permisosUsuarioPagina[0].aproved_accion"
									pTooltip="Rechazar" tooltipPosition="bottom" placeholder="Bottom" 
									class="p-button-outlined mb-2 mr-2 p-button-danger p-button-sm" 
									icon="pi pi-times-circle" 
									(click)="rechazar()" 
									[disabled]="!permisosUsuarioPagina[0].aproved_accion || !selectedSolped || selectedSolped.length!=1">
							</button>-->
						<!--</span>-->
						</div>
						
						
							
						

						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar por palabra clave" class="w-full p-inputtext-sm"/>
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="width: 3rem">
                            <!--<p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
                        </th>
						<th>
							<div class="flex justify-content-between align-items-center">
								Id
								<p-columnFilter type="text" field="id" display="menu" placeholder="Buscar por código solped"></p-columnFilter>
							</div>
						</th>
						<th>
							<div class="flex justify-content-between align-items-center">
								Tipo
								<p-columnFilter type="text" field="serie" display="menu" placeholder="Buscar por tipo solped"></p-columnFilter>
							</div>
						</th>
                        <th>
							<div class="flex justify-content-between align-items-center">
								Código Proveedor
								<p-columnFilter type="text" field="codigoproveedor" display="menu" placeholder="Buscar por tipo solped"></p-columnFilter>
							</div>
						</th>
                        <th>
							<div class="flex justify-content-between align-items-center">
								Proveedor
								<p-columnFilter type="text" field="nombreproveedor" display="menu" placeholder="Buscar por tipo solped"></p-columnFilter>
							</div>
						</th>

                        <th>
							<div class="flex justify-content-between align-items-center">
								Fecha contabilización
								<p-columnFilter type="date" field="docdate" display="menu"></p-columnFilter>
							</div>
						</th>

                        
						<th>
							<div class="flex justify-content-between align-items-center">
								Comentarios
								<p-columnFilter type="text" field="comments" display="menu" placeholder="Buscar por comentario"></p-columnFilter>
							</div>
						</th>
						
						
                        <th>
							<div class="flex justify-content-between align-items-center">
								Estado
								<p-columnFilter field="status" 
												matchMode="equals" 
												display="menu" 
												placeholder="Buscar por estado"
												[showMatchModes]="false" 
												[showOperator]="false">

												<ng-template pTemplate="filter" let-value let-filter="filterCallback">
													<p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any">
														<ng-template let-option pTemplate="item">
															<span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
														</ng-template>
													</p-dropdown>
												</ng-template>

								</p-columnFilter>
							</div>
						</th>
						
                        

                        <th>
							<div class="flex justify-content-between align-items-center">
								Usuario
								<p-columnFilter type="text" field="fullname" display="menu" placeholder="Buscar por usuario"></p-columnFilter>
							</div>
						</th>
                        <th>
							<div class="flex justify-content-between align-items-center">
								Número entrada SAP
								<p-columnFilter type="text" field="sapsocnum" display="menu" placeholder="Buscar por código SAP"></p-columnFilter>
							</div>
						</th>
                        <th>
							<div class="flex justify-content-between align-items-center">
								Basada en pedido SAP
								<p-columnFilter type="text" field="pedidonumsap" display="menu" placeholder="Buscar por código SAP"></p-columnFilter>
							</div>
						</th>
						<th></th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-entradaitem>
					<tr>
						<td>
                            <p-tableCheckbox [value]="entradaitem"></p-tableCheckbox>
                        </td>
						<td style="min-width: 6rem;">
							{{ entradaitem.id }}
						</td>
						<td style="min-width: 6rem;">
							{{ entradaitem.serieStr }}
						</td>

                        <td style="min-width: 12rem;">
							{{ entradaitem.codigoproveedor }}
						</td>

                        <td style="min-width: 12rem;">
							{{ entradaitem.nombreproveedor | tooltips:35 }}
						</td>
						
						<td style="min-width: 12rem;">
							{{ entradaitem.docdate | date }}
						</td>

                        
						<td style="min-width: 12rem;">
							{{ entradaitem.comments | tooltips:35}}
						</td>	
                        
                        <td style="min-width: 12rem;">
							{{ entradaitem.status | estados :'entrada' }}
						</td>
                        
                        <td style="min-width: 12rem;">
							{{ entradaitem.fullname }}
						</td>
                        <td style="min-width: 12rem;">
							{{ entradaitem.sapdocnum }}
						</td>

                        <td style="min-width: 12rem;">
							{{ entradaitem.pedidonumsap }}
						</td>
						<td>
							<i class="pi pi-print" pTooltip="Impresión" tooltipPosition="left" (click)="impresion(entradaitem.sapdocnum)"></i>
						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="11" class="text-center">No se econtraron entradas registradas.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="11" class="text-center">Cargando entradas. Por favor espere</td>
					</tr>
				</ng-template>
    		</p-table>
		</div>

	</div>
</div>
