<p-confirmDialog header="Confirmaión" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>
<div class="grid">
	<div class="col-12 md:col-12 ">
		<div class="card p-fluid">
            <!--mensaje error o confirmación-->
            <p-messages [(value)]="messageForm"></p-messages>
            <!-- fin mensaje error o confirmacion -->
			<h5>Editar usuario</h5>
            <!--<form (ngSubmit)="submit()">>-->
            <!--<ng-template pTemplate="content">-->
                <div class="grid">
                    <div class="field col">
                        <label htmlFor="fullname">Nombre completo</label>
                        <input pInputText
                               [(ngModel)] ="fullname"
                               id="fullname" 
                               name="fullname" 
                               type="text" 
                               required 
                               autofocus 
                               [ngClass]="{'ng-invalid ng-dirty' : submitted && !fullname}"/>
                    </div>
        
                    <div class="field col">
                        <label htmlFor="email">Email</label>
                        <input pInputText
                               [(ngModel)] = "email"
                               id="email" 
                               name="email" 
                               type="email"
                               required 
                               
                               [ngClass]="{'ng-invalid ng-dirty' : submitted && !email}" />
                    </div>
                </div>
                
                <div class="grid">
                    <div class="field col">
                        <label htmlFor="status">Estado</label>
                        
                        <p-dropdown [options]="estados" 
                                    optionLabel="name"
                                    optionValue="code" 
                                    [(ngModel)]="status"
                                    id="status"
                                    name="status"
                                    placeholder="Seleccione el estado"
                                    [required]="true"                        
                                    [ngClass]="{'ng-invalid ng-dirty' : submitted && !status}"></p-dropdown>
                    </div>
                </div>
                
                <div class="grid">
                    <div class="field col">
                        <label htmlFor="codusersap">Usuario SAP</label>
                        <input pInputText
                               [(ngModel)] ="codusersap"
                               id="codusersap" 
                               name="codusersap" 
                               type="text" 
                               required 
                               autofocus 
                               [ngClass]="{'ng-invalid ng-dirty' : submitted && !codusersap}"/>
                    </div>
        
                    <div class="field col">
                        <label htmlFor="username">Usuario portal</label>
                        <input pInputText
                               [(ngModel)] ="username"
                               id="username" 
                               name="username" 
                               type="text" 
                               required 
                               autofocus 
                               [ngClass]="{'ng-invalid ng-dirty' : submitted && !username}"/>
                    </div>
                </div>
                
                <div class="grid">
                    <div class="field col">
                        <label htmlFor="password">Contraseña</label>
                        <p-password [(ngModel)]="password"
                                    id="password" 
                                    name="password"
                                    
        
                        ></p-password>
                    
                    </div>
        
                    <div class="field col">
                        <label htmlFor="password2">Repetir contraseña</label>
                        <p-password [(ngModel)]="password2"
                                    id="password2" 
                                    name="password2"
                                    [ngClass]="{'ng-invalid ng-dirty' : submitted && password && !password2}"
        
                        ></p-password>
                    
                    </div>
                </div>
    
                
            
            <!--</ng-template>-->
            <!--<ng-template pTemplate="footer">-->
            <div class="grid">
                <div class="col">
                    <button pButton label="Guardar" (click)="saveUser()"  class="p-button-outlined mb-2 p-button-success" icon="pi pi-save"></button>
                </div>
                
            </div>

            
           

            


            <p-tabView>
                <p-tabPanel header="Perfiles" leftIcon="pi pi-id-card" >
                   
        
                    <div class="grid text-center">
                        <div *ngFor="let perfil of perfiles" class="col-4">
                            <div class="font-bold">{{perfil.perfil}}</div>
                            <div>
                                <p-selectButton [options]="opciones" 
                                                    [(ngModel)]="perfil.perfil_user" 
                                                    optionLabel="label" 
                                                    optionValue="value"
                                                    (onChange)="setPerfilUser(perfil.perfil_user,perfil.id)"></p-selectButton>
                            </div>
                        </div>
                        
                    </div>
        
                </p-tabPanel>
                <p-tabPanel header="Empresas" leftIcon="pi pi-building">
                    <div class="grid text-center">
                        <div *ngFor="let company of companies" class="col-4">
                            <div class="font-bold">{{company.companyname}}</div>
                            <div>
                                <p-selectButton [options]="opciones" 
                                                    [(ngModel)]="company.company_access" 
                                                    optionLabel="label" 
                                                    optionValue="value"
                                                    (onChange)="setAccess(company.company_access,company.id)"></p-selectButton>
                            </div>
                        </div>
                        
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Areas">

                    <p-table #dt1 
                                    [value]="areas_user" 
                                    dataKey="id" 
                                    [rows]="10" 
                                    [loading]="loading" 
                                    [rowHover]="true" 
                                    styleClass="p-datatable-gridlines " 
                                    [paginator]="true" 
                                    [globalFilterFields]="['area']" 
                                    selectionMode="multiple" 
                                    [(selection)]="selectedAreasUser" 
                                    responsiveLayout="scroll">

                                <ng-template pTemplate="caption">
                                    <div class="flex justify-content-between flex-column sm:flex-row">
                                        <div class="grid m-2">
                                            
                                        <button pButton  class="p-button-outlined mb-2 mr-2" icon="pi pi-filter-slash" (click)="cleart(dt1)"></button>
                                        <button pButton  class="p-button-outlined mb-2 p-button-success mr-2" icon="pi pi-plus" (click)="newArea()" pTooltip="adicionar area"></button>
                                        <button pButton  class="p-button-outlined mb-2 p-button-danger mr-2" icon="pi pi-trash" (click)="deleteArea()" pTooltip="borrar area" [disabled]="!selectedAreasUser || selectedAreasUser.length==0"></button>
                                        
                                        </div>
                                        <div class="grid m-2">
                                        
                                        <span class="p-input-icon-left mb-2">
                                            <i class="pi pi-search"></i>
                                            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar por palabra clave" class="w-auto p-inputtext-sm"/>
                                        </span>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 3rem">
                                            <!--<p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
                                        </th>
                                        <th>
                                            <div class="flex justify-content-between align-items-center">
                                                Area 
                                                <p-columnFilter type="text" field="area" display="menu" placeholder="Buscar por Area"></p-columnFilter>
                                            </div>
                                        </th>
                                      
                                        
                                        
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-areasusuario>
                                    <tr>
                                        <td>
                                            <p-tableCheckbox [value]="areasusuario"></p-tableCheckbox>
                                        </td>
                                        <td style="min-width: 100%;">
                                            {{ areasusuario.area }}
                                        </td>
                                     
                                       
                            
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="2">No se econtraron areas asociadas al usuario.</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="loadingbody">
                                    <tr>
                                        <td colspan="2">Cargando areas usuario. Por favor espere</td>
                                    </tr>
                                </ng-template>
                    </p-table>
                    
                </p-tabPanel>
                <p-tabPanel header="Dependencias">
                    <p-table #dt2 
                                    [value]="dependencias_user" 
                                    dataKey="id" 
                                    [rows]="10" 
                                    [loading]="loading" 
                                    [rowHover]="true" 
                                    styleClass="p-datatable-gridlines " 
                                    [paginator]="true" 
                                    [globalFilterFields]="['vicepresidency','dependence','location']" 
                                    selectionMode="multiple" 
                                    [(selection)]="selectedDependenciasUser" 
                                    responsiveLayout="scroll">

                                <ng-template pTemplate="caption">
                                    <div class="flex justify-content-between flex-column sm:flex-row">
                                        <div class="grid m-2">
                                            
                                        <button pButton  class="p-button-outlined mb-2 mr-2" icon="pi pi-filter-slash" (click)="cleart(dt2)"></button>
                                        <button pButton  class="p-button-outlined mb-2 p-button-success mr-2" icon="pi pi-plus" (click)="newDependencia()" pTooltip="adicionar dependencias"></button>
                                        <button pButton  class="p-button-outlined mb-2 p-button-danger mr-2" icon="pi pi-trash" (click)="deleteDependencia()" pTooltip="borrar dependencias" [disabled]="!selectedDependenciasUser || selectedDependenciasUser.length==0"></button>
                                        
                                        </div>
                                        <div class="grid m-2">
                                        
                                        <span class="p-input-icon-left mb-2">
                                            <i class="pi pi-search"></i>
                                            <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar por palabra clave" class="w-auto p-inputtext-sm"/>
                                        </span>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 3rem">
                                            <!--<p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
                                        </th>
                                        <th>
                                            <div class="flex justify-content-between align-items-center">
                                                Viseprecidencia 
                                                <p-columnFilter type="text" field="area" display="menu" placeholder="Buscar por Viseprecidencia"></p-columnFilter>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="flex justify-content-between align-items-center">
                                                Dependencia 
                                                <p-columnFilter type="text" field="area" display="menu" placeholder="Buscar por Dependencia"></p-columnFilter>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="flex justify-content-between align-items-center">
                                                Localidad 
                                                <p-columnFilter type="text" field="area" display="menu" placeholder="Buscar por Localidad"></p-columnFilter>
                                            </div>
                                        </th>
                                      
                                        
                                        
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-dependenciasusuario>
                                    <tr>
                                        <td>
                                            <p-tableCheckbox [value]="dependenciasusuario"></p-tableCheckbox>
                                        </td>
                                        <td style="min-width: 100%;">
                                            {{ dependenciasusuario.vicepresidency }}
                                        </td>
                                        <td style="min-width: 100%;">
                                            {{ dependenciasusuario.dependence }}
                                        </td>
                                        <td style="min-width: 100%;">
                                            {{ dependenciasusuario.location }}
                                        </td>
                                     
                                       
                            
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="4">No se econtraron dependencias asociadas al usuario.</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="loadingbody">
                                    <tr>
                                        <td colspan="4">Cargando dependencias usuario. Por favor espere</td>
                                    </tr>
                                </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Almacenes">

                    <p-table #dt6 
                                    [value]="almacenes_user" 
                                    dataKey="id" 
                                    [rows]="10" 
                                    [loading]="loading" 
                                    [rowHover]="true" 
                                    styleClass="p-datatable-gridlines " 
                                    [paginator]="true" 
                                    [globalFilterFields]="['store']" 
                                    selectionMode="multiple" 
                                    [(selection)]="selectedAlmacenesUser" 
                                    responsiveLayout="scroll">

                                <ng-template pTemplate="caption">
                                    <div class="flex justify-content-between flex-column sm:flex-row">
                                        <div class="grid m-2">
                                            
                                        <button pButton  class="p-button-outlined mb-2 mr-2" icon="pi pi-filter-slash" (click)="cleart(dt1)"></button>
                                        <button pButton  class="p-button-outlined mb-2 p-button-success mr-2" icon="pi pi-plus" (click)="newAlmacen()" pTooltip="adicionar almacen"></button>
                                        <button pButton  class="p-button-outlined mb-2 p-button-danger mr-2" icon="pi pi-trash" (click)="deleteAlmacen()" pTooltip="borrar almacen" [disabled]="!selectedAlmacenesUser || selectedAlmacenesUser.length==0"></button>
                                        
                                        </div>
                                        <div class="grid m-2">
                                        
                                        <span class="p-input-icon-left mb-2">
                                            <i class="pi pi-search"></i>
                                            <input pInputText type="text" #filter (input)="onGlobalFilter(dt6, $event)" placeholder="Buscar por palabra clave" class="w-auto p-inputtext-sm"/>
                                        </span>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 3rem">
                                            <!--<p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
                                        </th>
                                        <th>
                                            <div class="flex justify-content-between align-items-center">
                                                Almacen 
                                                <p-columnFilter type="text" field="store" display="menu" placeholder="Buscar por Almacen"></p-columnFilter>
                                            </div>
                                        </th>
                                      
                                        
                                        
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-almacenusuario>
                                    <tr>
                                        <td>
                                            <p-tableCheckbox [value]="almacenusuario"></p-tableCheckbox>
                                        </td>
                                        <td style="min-width: 100%;">
                                            {{ almacenusuario.store }}
                                        </td>
                                     
                                       
                            
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="2">No se econtraron almacenes asociadas al usuario.</td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="loadingbody">
                                    <tr>
                                        <td colspan="2">Cargando almacenes usuario. Por favor espere</td>
                                    </tr>
                                </ng-template>
                    </p-table>
                    
                </p-tabPanel>
            </p-tabView>

           

            
                
            <!--</ng-template>-->
                
            
        <!--</form>-->

		</div>
    </div>
</div>

<!---Dilalog form adicionar areas -->
<p-dialog [header]="'Adicionar area'" 
          [(visible)]="formularioAreas" 
          [modal]="true"
          [breakpoints]="{'960px': '75vw', '640px': '100vw'}" 
          [style]="{width: '50vw'}" 
          [maximizable]="true"
          [draggable]="false" 
          (onHide)="envioAreas= false" 
          [resizable]="false">
    
          <ng-template pTemplate="content">
            <p-table #dt3 
                    [value]="areas_form" 
                    dataKey="U_NF_DIM2_DEP" 
                    [rows]="10" 
                    [loading]="loading" 
                    [rowHover]="true" 
                    styleClass="p-datatable-gridlines " 
                    [paginator]="true" 
                    [globalFilterFields]="['U_NF_DIM2_DEP']" 
                    selectionMode="multiple" 
                    [(selection)]="selectedAreasForm" 
                    responsiveLayout="scroll">

                    <ng-template pTemplate="caption">
                        <div class="flex justify-content-between flex-column sm:flex-row">
                            <div class="grid m-2">
                                
                            <button pButton  class="p-button-outlined mb-2 mr-2" icon="pi pi-filter-slash" (click)="cleart(dt3)"></button>
                            
                            </div>
                            <div class="grid m-2">
                            
                            <span class="p-input-icon-left mb-2">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" #filter (input)="onGlobalFilter(dt3, $event)" placeholder="Buscar por palabra clave" class="w-auto p-inputtext-sm"/>
                            </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <!--<p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
                            </th>
                            <th>
                                <div class="flex justify-content-between align-items-center">
                                    Area 
                                    <p-columnFilter type="text" field="U_NF_DIM2_DEP" display="menu" placeholder="Buscar por Area"></p-columnFilter>
                                </div>
                            </th>
                        
                            
                            
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-areasform>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="areasform"></p-tableCheckbox>
                            </td>
                            <td style="min-width: 100%;">
                                {{ areasform.U_NF_DIM2_DEP }}
                            </td>
                        
                        
                
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="2">No se econtraron areas asociadas a la empresa.</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="loadingbody">
                        <tr>
                            <td colspan="2">Cargando areas empresa. Por favor espere</td>
                        </tr>
                    </ng-template>
            </p-table>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-button   icon="pi pi-check" 
                        (onClick)="RegistrarAreas()"                     
                        [disabled]="permisosUsuarioPagina.length==0 || !permisosUsuarioPagina[0].create_accion || selectedAreasForm.length==0 " 
                        label="Ok"
                        styleClass="p-button-text">
            </p-button>
          </ng-template>
</p-dialog>


<!---Dilalog form adicionar areas -->
<p-dialog [header]="'Adicionar dependencias'" 
          [(visible)]="formularioDependencias" 
          [modal]="true"
          [breakpoints]="{'960px': '75vw', '640px': '100vw'}" 
          [style]="{width: '50vw'}" 
          [maximizable]="true"
          [draggable]="false" 
          (onHide)="envioDependencias= false" 
          [resizable]="false">
    
          <ng-template pTemplate="content">
            <p-table #dt4 
                    [value]="dependencias_form" 
                    dataKey="Code" 
                    [rows]="10" 
                    [loading]="loading" 
                    [rowHover]="true" 
                    styleClass="p-datatable-gridlines " 
                    [paginator]="true" 
                    [globalFilterFields]="['U_NF_DIM1_LOC','U_NF_DIM2_DEP','U_NF_DIM3_VICE']" 
                    selectionMode="multiple" 
                    [(selection)]="selectedDependenciasForm" 
                    responsiveLayout="scroll">

                    <ng-template pTemplate="caption">
                        <div class="flex justify-content-between flex-column sm:flex-row">
                            <div class="grid m-2">
                                
                            <button pButton  class="p-button-outlined mb-2 mr-2" icon="pi pi-filter-slash" (click)="cleart(dt4)"></button>
                            
                            </div>
                            <div class="grid m-2">
                            
                            <span class="p-input-icon-left mb-2">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" #filter (input)="onGlobalFilter(dt4, $event)" placeholder="Buscar por palabra clave" class="w-auto p-inputtext-sm"/>
                            </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <!--<p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
                            </th>
                            <th>
                                <div class="flex justify-content-between align-items-center">
                                    Viceprecidencia 
                                    <p-columnFilter type="text" field="U_NF_DIM3_VICE" display="menu" placeholder="Buscar por viceprecidencia"></p-columnFilter>
                                </div>
                            </th>
                            <th>
                                <div class="flex justify-content-between align-items-center">
                                    Dependencia 
                                    <p-columnFilter type="text" field="U_NF_DIM2_DEP" display="menu" placeholder="Buscar por dependencia"></p-columnFilter>
                                </div>
                            </th>
                            <th>
                                <div class="flex justify-content-between align-items-center">
                                    Localidad 
                                    <p-columnFilter type="text" field="U_NF_DIM1_LOC" display="menu" placeholder="Buscar por localidad"></p-columnFilter>
                                </div>
                            </th>
                        
                            
                            
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-dependenciasform>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="dependenciasform"></p-tableCheckbox>
                            </td>
                            <td style="min-width: 100%;">
                                {{ dependenciasform.U_NF_DIM3_VICE }}
                            </td>
                            <td style="min-width: 100%;">
                                {{ dependenciasform.U_NF_DIM2_DEP }}
                            </td>
                            <td style="min-width: 100%;">
                                {{ dependenciasform.U_NF_DIM1_LOC }}
                            </td>
                        
                        
                
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="2">No se econtraron dependencias asociadas a la empresa.</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="loadingbody">
                        <tr>
                            <td colspan="2">Cargando dependencias empresa. Por favor espere</td>
                        </tr>
                    </ng-template>
            </p-table>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-button   icon="pi pi-check" 
                        (onClick)="RegistrarDependencias()"                     
                        [disabled]="permisosUsuarioPagina.length==0 || !permisosUsuarioPagina[0].create_accion || selectedDependenciasForm.length==0 " 
                        label="Ok"
                        styleClass="p-button-text">
            </p-button>
          </ng-template>
</p-dialog>

<!---Dilalog form adicionar areas -->
<p-dialog [header]="'Adicionar almacenes'" 
          [(visible)]="formularioAlmacenes" 
          [modal]="true"
          [breakpoints]="{'960px': '75vw', '640px': '100vw'}" 
          [style]="{width: '50vw'}" 
          [maximizable]="true"
          [draggable]="false" 
          (onHide)="envioAlmacenes= false" 
          [resizable]="false">
    
          <ng-template pTemplate="content">
            <p-table #dt5 
                    [value]="almacenes_form" 
                    dataKey="WarehouseCode" 
                    [rows]="10" 
                    [loading]="loading" 
                    [rowHover]="true" 
                    styleClass="p-datatable-gridlines " 
                    [paginator]="true" 
                    [globalFilterFields]="['WarehouseCode', 'WarehouseName']" 
                    selectionMode="multiple" 
                    [(selection)]="selectedAlmacenesForm" 
                    responsiveLayout="scroll">

                    <ng-template pTemplate="caption">
                        <div class="flex justify-content-between flex-column sm:flex-row">
                            <div class="grid m-2">
                                
                            <button pButton  class="p-button-outlined mb-2 mr-2" icon="pi pi-filter-slash" (click)="cleart(dt5)"></button>
                            
                            </div>
                            <div class="grid m-2">
                            
                            <span class="p-input-icon-left mb-2">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" #filter (input)="onGlobalFilter(dt5, $event)" placeholder="Buscar por palabra clave" class="w-auto p-inputtext-sm"/>
                            </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <!--<p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
                            </th>
                            <th>
                                <div class="flex justify-content-between align-items-center">
                                    Código 
                                    <p-columnFilter type="text" field="WarehouseCode" display="menu" placeholder="Buscar por Código"></p-columnFilter>
                                </div>
                            </th>

                            <th>
                                <div class="flex justify-content-between align-items-center">
                                    Almacen 
                                    <p-columnFilter type="text" field="WarehouseName" display="menu" placeholder="Buscar por Almacen"></p-columnFilter>
                                </div>
                            </th>
                        
                            
                            
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-almacenesform>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="almacenesform"></p-tableCheckbox>
                            </td>
                            <td style="min-width: 100%;">
                                {{ almacenesform.WarehouseCode }}
                            </td>
                            <td style="min-width: 100%;">
                                {{ almacenesform.WarehouseName }}
                            </td>
                        
                        
                
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="2">No se econtraron almacenes asociadas a la empresa.</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="loadingbody">
                        <tr>
                            <td colspan="2">Cargando almacenes empresa. Por favor espere</td>
                        </tr>
                    </ng-template>
            </p-table>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-button   icon="pi pi-check" 

                        (onClick)="RegistrarAlmacenes()"                     
                        [disabled]="permisosUsuarioPagina.length==0 || !permisosUsuarioPagina[0].create_accion || selectedAlmacenesForm.length==0" 
                        label="Ok"
                        styleClass="p-button-text">
            </p-button>
          </ng-template>
</p-dialog>



<!-- Dialog loading -->
<p-dialog header="Cargando" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <p class="m-0">

    </p>

    <div class="field col">
                    
        <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
</p-dialog>
